/* @override http://localhost:4001/stylesheets/styles.css */

/* @override http://127.0.0.1:4000/stylesheets/styles.css */

/* @group bootstrap */

body{
  font-family: Arial, helvetica neue, helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: white;
}

body.topics, body.company, body.user, body.sign-up-post,
body.proposals, body.topic-show,
body.proposal, body.search-results, body.topic {
    background-color: white;
}

a{ color: #0064be; }
a:hover{ color: #003c72; }

a.skip-nav{ position: absolute; left: -9999em; }
a.a-return{
  color: #666;
  font-size: 14px;
  display: block;
  padding-top: 8px;
}

a.a-return::before{
  content: "\2190";
  color: #888;
  margin-left: 4px;
  margin-right: 10px;
  display: inline-block;
  background: #f3f3f3;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 100%;
  text-align: center;

}
a.a-return:hover{ color: #333; }
a.a-return:hover::before{ color: #444; background: #eee;}

p, li, dd, dt {
  line-height: 1.4em;
  max-width: 36em;
  margin-bottom: 0.7em;
}

@media screen and (min-width: 533.33px) {
  dl {
    padding-top: 16px;
    margin-top: 32px;
    border-top: 1px solid #eee;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -column-count: 2;
  }
}

dt{
  margin-bottom: 0;
  color: #444;
  font-size: 0.8em;
  font-weight: 600;
}

span.preposition{
  font-style: italic;
  font-family: Georgia;
  text-transform: lowercase;
}

div.wrap{
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div.wrap::after{
  content: "";
  display: table;
  clear: both;
}


h1.primary-header {
  font-size: 32px;
  font-family: 'franklin-gothic-urw-cond', Helvetica Neue, Helvetica, sans-serif;
  line-height: 1;
  margin-top: 24px;
  margin-bottom: 0.6em;
  margin-left: -0.03em;
  color: #333;
}

@media screen and (min-width: 711.11px) {
  h1.primary-header{
    font-size: 40px;
    margin-bottom: 0.4em;
  }
}

main ol{
  margin-bottom: 2em;
  padding-top: 1em;
}

div.notice{
  font-size: 14px;
  padding: 12px;
  border: 1px solid goldenrod;
  border-radius: 3px;
  margin: 1em 0;
  background: #fff2df;
  color: #4f0e00;

}
div.notice a{
  color: #af3b00;
}
div.notice p:last-child{ margin-bottom: 0;}


/* @end */

/* @group forms */

/* @group summary.error-message */

summary.error-message{
  background: #990017;
  color: white;
  padding: 8px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 24px;
  margin-top: -8px;
}

summary.error-message { margin-top: 8px; }
summary.error-message p:first-of-type{ margin-top: 8px; }
summary.error-message ol{
  list-style-type: decimal;
  margin: 0 0 0 1.4em;
}

summary.error-message ol li{
  margin-bottom: 6px;
}

@media screen and (min-width: 568.88px) {
  summary.error-message{
    padding: 16px;
  }
}

/* @end */

legend {
  padding: 0;
  display: table;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

fieldset > legend,
.field span.label-text{
  display: block;
  max-width: 40em;
  margin: 0 0 8px;
  padding: 0;
  position: static;
  font: inherit;
  line-height: 20px;
}
input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
select,
textarea{
  -webkit-appearance: none;
  padding: 4px 8px;
  border: 1px solid #bbb;
  border-radius: 3px;
  line-height: 36px;
  min-height: 36px;
  min-width: 4em;
  width: 100%;
  margin: 0;
  font: inherit;
}

.field-select select{
  min-width: 0;
  background: none;
  padding-right: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.field-select span.label-select{
  position: relative;
  width: 33%;
  display: block;
}

.field-big_str.field-select span.label-select{ 
  position: relative; 
  width: 100%;
  display: block;
}

.field-select{ position: relative; }

.field-select span.label-select::after{
  content: "";
  border: 6px solid black;
  position: absolute;
  right: 20px;
  bottom: 50%;
  margin-bottom: 2px;
  border-color: #aaa transparent transparent transparent;
  z-index: -1;
}

.field-select span.label-select::after{
  right: 12px;
  margin-bottom: -9px;
}

.field-total-revenue::after{ display: none; }

.field-select:hover select{ border-color: #aaa; }
.field-select:hover::after{ border-top-color: #888; }

textarea{
  display: block;
  width: 100%;
  max-width: 40em;
  min-height: 12em;
}

button,
.button {
  background: none;
  border: 1px solid;
  color: #008c52;
  font: inherit;
  padding: 9px 12px;
  margin: 0;
  line-height: 16px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
}

button:hover,
.button:hover {
  background: #00834d;
  border-color: #00834d;
  color: white;
  box-shadow: 0 1px 0 #f3f3f3;
}

button:active,
.button:active {
  color: #7aa79d;
  background: #006e52;
  border-color: #006e52;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}

button.button-remove{ color: #e51600; }
button.button-remove:hover{
  background: #cc1602;
  border-color: #cc1602;
  color: white;
}

button.button-remove:active{
  color: #ffb302;
  background: #911002;
  border-color: #911002;
}

form > h1,
body.sign-up-post main h1,
.labor-related-costs > h1,
.direct-material-costs > h1 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 32px;
  color: #444;
  font-family: Georgia;
}

form > h1:first-of-type{
  margin-top: 0;
  padding-top: 24px;
}

form a.a-return + h1{
  margin-top: 1em !important;
}

div.field,
section.fieldset,
.fieldset-radio{ margin-bottom: 24px; }

fieldset.fieldset-radio > div.field.is-error,
fieldset.fieldset-singlelineitem > div.field.is-error { margin-bottom:0; }

.fieldset-dynamic > header{
  margin-bottom: 24px;
}

.fieldset-dynamic > header a{
  background: none;
  border: 1px solid;
  color: #a50;
  font: inherit;
  padding: 6px 8px;
  font-size: 14px;
  margin: 4px 0 0 0.4em;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 3px;
}


.fieldset-dynamic .fieldset-dynamic-item a.fieldset-dynamic-item-remove{
  position: absolute;
  right: 16px;
  font-size: 14px;
  color: #e51600;
  border-radius: 3px;
  padding: 4px 6px;
}

.fieldset-dynamic .fieldset-dynamic-item a.fieldset-dynamic-item-remove:hover{
  background: #cc1602;
  color: white;
  text-decoration: none;
}

.fieldset-principal-investigator .fieldset:last-of-type,
.fieldset-dynamic-item.field:last-of-type,
.fieldset-dynamic .fieldset-dynamic-item:last-of-type{
  margin-bottom: 20px;
}

div.fieldset-dynamic > header h1 {
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    color: #555;
    font-size: 21px;
    line-height: 16px;
    margin: 0;
    position: static;
}

.fieldset-dynamic > header{
  margin-bottom: 24px;
}

.fieldset-dynamic > header a{
  background: none;
  border: 1px solid;
  color: #a50;
  font: inherit;
  padding: 6px 8px;
  font-size: 14px;
  margin: 4px 0 0 0.4em;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 3px;
}

div.fieldset-dynamic > header h1 {
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    color: #555;
    font-size: 21px;
    line-height: 16px;
    margin: 0;
    position: static;
}

div.field+section.fieldset,
div.field+fieldset,
fieldset.fieldset-checkbox{ margin-top: 36px; }

fieldset.fieldset-principal-investigator,
fieldset.fieldset-corporate-official,
fieldset.fieldset-point-of-contact,
fieldset.fieldset-contact-information,
fieldset.fieldset-checkbox,
fieldset.labor-related-cost,
fieldset.direct-material-cost,
fieldset.fieldset-singlelineitem,
fieldset.fieldset-dynamic-item{
  border: 1px solid #cfcfcf;
  padding: 20px 16px 16px;
  position: relative;
  margin-bottom: 24px;
  border-radius: 4px;
  margin-top: 20px;
}

fieldset.fieldset-corporate-official{ margin-bottom: 24px; }

.fieldset-principal-investigator fieldset:last-of-type,
.labor-related-cost .field:last-of-type,
.direct-material-cost .field:last-of-type{
  margin-bottom: 0;
}

fieldset.fieldset-principal-investigator > legend,
fieldset.fieldset-corporate-official > legend,
fieldset.fieldset-point-of-contact > legend,
fieldset.fieldset-contact-information > legend,
fieldset.fieldset-checkbox > legend,
fieldset.labor-related-cost > legend,
fieldset.direct-material-cost > legend,
fieldset.fieldset-singlelineitem > legend,
fieldset.fieldset-dynamic-item > legend{
  position: absolute;
  background: white;
  margin: 0 0 -3px;
  bottom: 100%;
  left: 8px;
  padding: 0 1px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #777;
}

fieldset.fieldset-point-of-contact,
section.fieldset div.field:last-of-type+section.fieldset{
  margin-top: 24px;
}

.fieldset.fieldset-labor-related-costs,
.fieldset.fieldset-direct-material-costs,
.fieldset.fieldset-discretionary-technical-assistance,
.fieldset.fieldset-equivalent-work,
.fieldset.fieldset-equivalent-work .fieldset,
.fieldset.fieldset-radio{
  padding: 0;
  border: none;
}

.fieldset-discretionary-technical-assistance > legend,
.fieldset.fieldset-equivalent-work-detail > h1,
.fieldset.fieldset-phase-2 > h1{ display: none; }


.fieldset-radio > legend,
section.fieldset.fieldset-radio > h1,
div.field span.label-text{
  display: block;
  max-width: 40em;
  margin: 0 0 10px;
  padding: 0;
  position: static;
  font: inherit;
  line-height: 24px;
  color: #333;
}

div.field.field-radio{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-right: 4px;
}

div.field.field-radio label{
  display: inline-block;
  padding: 0 12px 1px 12px;
  border: 1px solid #bbb;
  border-bottom-color: #b3b3b3;
  min-height: 32px;
  line-height: 32px;
  vertical-align: middle;
}

.field input:focus,
.field select:focus,
.field textarea:focus,
.field.field-checkbox.is-focused label,
.field.field-radio.is-focused label{
  border-color: #1188ff;
  box-shadow: 0 0 0 1px rgba(17,136,255,0.15);
  outline: none;
}

div.field.field-checkbox span.label-text,
div.field.field-radio span.label-text,
div.field.field-radio input{
  display: inline;
  vertical-align: middle;
}

div.field.field-checkbox{
  position: relative;
  padding-left: 24px;
  margin-bottom: 8px;
}

div.field.field-checkbox input{
  font-size: 1em;
  line-height: 1;
  position: absolute;
  left: 0;
  top: 0;
}

div.field.field-checkbox+div.field.field-checkbox{ margin-top: 4px; }


div.field.is-error input,
div.field.is-error password,
div.field.is-error textarea{
  background: #fff7f4;
  background: repeating-linear-gradient(
    45deg,
    #fff4f2,
    #fff4f2 10px,
    #fff7f4 10px,
    #fff7f4 20px
  );
  border-color: #ce6246;
}

div.field.is-error span.error-message,
section.fieldset.fieldset-radio.is-error span.error-message{
  color: #990017;
  display: block;
}

div.field.is-error span.error-message,
section.fieldset.fieldset-radio.is-error span.error-message{
  color: #af1830;
  font-size: 14px;
  padding-top: 6px;
  display: block;
  font-style: italic;
}

/* @group reference */

.citation-a{
  font-size: 14px;
  font-weight: 600;
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}
.citation{
  font-size: 14px;
  padding: 0.5em;
  margin: 1em 0;
  border: 1px solid #ccc;
  background: #f3f3f3;
  color: #333;
  border-radius: 2px;
  overflow: auto;
  max-height: 10em;
}

/* @end */

fieldset.fieldset-mailing-address div.field{
  padding-bottom: 1.4em;
  position: relative;
}

fieldset.fieldset-mailing-address .label-select{ width: 100%; }

fieldset.fieldset-mailing-address div.field span.label-text{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  font-size: 12px;
}

fieldset.fieldset-mailing-address div.field-city-state-zip::after{
  content: "";
  display: table;
  clear: both;
}

fieldset.fieldset-mailing-address div.field-city-state-zip{
  margin-right: -0.7em;
  margin-bottom: 0;
}

fieldset.fieldset-mailing-address div.field.field-city,
fieldset.fieldset-mailing-address div.field.field-state,
fieldset.fieldset-mailing-address div.field.field-zip{
  float: left;
  width: 25%;
  padding-right: 0.67em;
  margin-bottom: 0;
}

fieldset.fieldset-mailing-address div.field.field-city{
  width: 50%;
}

fieldset.fieldset-mailing-address div.field.field-city input,
fieldset.fieldset-mailing-address div.field.field-state input,
fieldset.fieldset-mailing-address div.field.field-zip input{
  min-width: 0;
}


/* @group widths */

.field-collaborator-name input,
.field-collaborator-point-of-contact input{
  width: 75%;
}

.field-email input,
.field-med_str input,
.field-name input,
.field-title input,
.field-category input,
.field-federal-tax-id input,
.field-duns-number input,
.field-cage-code input{
  width: 50%;
  min-width: 10em;
}

.field-phone input,
.field-fax input,
.field-rate input,
.field-estimated-hours input,
.field-overhead input,
.field-year input,
.field-number input,
.field-int input,
.field-integer input,
.field-float input,
.field-fringe-benefits input,
.field-dollars input,
.field-calculated input,
.field-timespan input,
.field-percentage input,
.field-proposed-cost input,
.field-proposed-dta-amount input,
.field-contract-number input,
.field-short_str input,
.field-naics input,
.field-overhead input,
.field-num-phase-2-awards input{
  width: 33%;
}

.field-phone-number input,
.field-fax-number input{
  width: 10em;
}

.field-big_str input,
.field-big_str select{
  width: 100%;
}

.field-naics input {
  margin-bottom: 8px;
}
.field-naics input:last-child{ margin-bottom: 0;}

span.naics-description {
  margin-left: 8px;
  font-size: 14px;
  width: 33%;
}

.field-number-short input{ width: 2em; }

/* @end */


.branch{
  padding: 8px 0 0 12px !important;
  margin-top: -12px !important;
  position: relative;
  border: none !important;
}

.branch::after{
  position: absolute;
  left: 0;
  top: 0;
  bottom: -1px;
  width: 3px;
  border-radius: 99em;
  content: "";
  background: #e3e3e3;
}

.branch > h1.branch-logic,
.branch > header > h1.branch-logic{
  text-transform: uppercase;
  font: 13px Courier, mono !important;
  font-weight: 600 !important;
  padding: 4px;
  background: #eee;
  display: inline-block;
  color: #ed2766 !important;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-top: 0;
  margin-bottom: 8px !important;
}


main div.wrap > form { max-width: 576px; }

@media screen and (min-width: 640px) {
   body.company main div.wrap > form,
   body.user main div.wrap > form,
   body.proposal main div.wrap > form,
   .proposal-details main div.wrap > form {
    padding-right: 16px;
    border-right: 1px solid #eee;
  }

   body.proposal form,
   .proposal-details main div.wrap > form {
    margin-right: 224px;
   }


}


main form footer{
  margin-top: 32px;
  padding-bottom: 64px;
  position: relative;
}


main form footer a:hover{ color: #333; }
main form footer p{
  clear: both;
  font-family: Georgia;
  font-style: italic;
  color: #888;
  background: #f3f3f3;
  padding: 12px 16px;
  margin: 24px -16px -16px;
  max-width: none;
  margin-top: 24px;
  font-size: 14px;
}
main form footer p button{
  display: inline;
  float: none;
  padding: 4px 8px;
  color: #555;
  background: white;
  border: 2px solid #ccc;
  font-family: Helvetica;
  font-style: normal;
  margin-left: 0.2em;
 }


/* @end */

/* @group header.banner */

header.banner{
  background: #2c628d;
  color: #fff;
  line-height: 32px;
  overflow: hidden;
  padding: 4px 0 0 0;
}

header.banner a{ color: white; }

header.banner h1{
  font-weight: 600;
  margin-top: 4px;
  float: left;
  margin-right: 8px;
}

header.banner h1 a{ text-decoration: none; }
header.banner h1 a:hover{ text-decoration: underline; }


header.banner h1 span.icon-logo{
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 38px;
  background-size: 100%;
  margin-right: 0.4em;
}

header.banner form,
header.banner div.field,
header.banner div.field label {
  display: block;
  width: 100%;
}

header.banner form{
  margin-bottom: 8px;
  float: left;
}

header.banner form footer{
  position: absolute;
  left: -9999em;
  top: -9999em;
}

header.banner nav::after{
  content: "";
  display: table;
  clear: both;
}

header.banner nav{
  margin-top: 4px;
}
header.banner nav a{
  float: left;
  padding: 0 4px;
}
header.banner nav a:hover{
  color: #a3d3ff;
}

header.banner div.notification {
  background: #002152;
  color: #fff;
  line-height: 32px;
}

body.proposals header.banner nav a.proposals,
body.notifications header.banner nav a.notifications,
body.company header.banner nav a.company {
  color: #fefefe;
  background: #002152;
  text-decoration: none;
}
header.banner form span.label-text,
header.banner form button{ position: absolute; left: -9999em; }

header.banner form div.field{
  position: relative;
  margin: 0;
}
header.banner form div.field::after{
  background-size: 100%;
  position: absolute;
  left: 9px;
  top: 50%;
  margin-top: -8px;
  content: "";
  width: 16px;
  height: 16px;
  z-index: 2;
}

header.banner form div.field input {
  border-radius: 99em;
  border: none;
  line-height: 20px;
  min-height: 20px;
  padding-left: 28px;
  width: 100%;
   font-size: 14px;
  background: #11233f;
  color: #fff;
  position: relative;
  top: -1px;
}


@media screen and (min-width: 355.55px) {
  header.banner nav{
    font-size: 12px;
    position: absolute;
    top: 1px;
    right: 0;
  }
}


@media screen and (min-width: 444.44px) {

  header.banner div.wrap{ padding-left: 124px; }

  header.banner form{
    margin-top: 3px;
    margin-bottom: 0;
  }

  header.banner nav{
    position: static;
    font-size: 14px;
    margin-left: -10px;
    margin-top: 4px;
  }

  header.banner nav a{  padding: 0 8px; }
  header.banner h1{
    width: 112px;
    margin: 0;
    margin-left: -124px;
  }
}


@media screen and (min-width: 711.11px) {

  header.banner{
    line-height: 32px;
  }

  header.banner div.wrap{
    padding: 8px 288px 9px 156px;
  }

  header.banner h1{
    width: 156px;
    margin-left: -156px;
    margin-top: 2px;
  }

  header.banner h1 span.icon-logo{
    width: 42px;
    height: 36px;
    position: relative;
    top: -5px;
    left: -1px;
    margin-right: 6px;
  }

  header.banner nav{
    position: absolute;
    right: -0.8em;
    top: 6px;
    width: auto;
  }

  header.banner div.notification div.wrap{
    padding: 8px 156px 8px 156px;
  }
}


/* @end */

/* @group .topic */

.topic{
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
  color: #333;
}

.topic p{ margin-bottom: 0; }

.topic .topic-content{
  display: block;
  text-decoration: none;
  color: inherit;
}

.topic .topic-content:hover h1{
  text-decoration: underline;
}

.topic h1,
.sign-in .sign-in-header h1,
.sign-up .sign-up-header h1,
.sign-in .sign-in-header a,
.sign-up .sign-up-header a{
  font-family: georgia;
  font-size: 20px;
  line-height: 24px;
  font-weight: 100;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.33em;
  color: #333;
  position: relative;
  margin-right: 0.4em;
}

.topic h2{
  display: inline-block;
  vertical-align: middle;
  color: #666;
  background: #eee;
  font-size: 0.8em;
  padding: 0.3em 0.5em;
  border-radius: 3px;
  position: relative;
  top: -0.2em;
}

.topic form{
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  border: none;
}

.topic .topic-nav{ padding-top: 0.4em; }

.topic .topic-nav a,
.topic .topic-nav button{
  background: none;
  border: none;
  color: #0064be;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  font-size: 14px;
  margin: 0;
  margin-right: 0.4em;
  padding: 4px 0;
  text-align: left;
  text-decoration: underline;
  box-shadow: none;
}

.topic .topic-nav a:hover,
.topic .topic-nav button:hover{
  color: #032353;
  border-color: inherit;
  text-decoration: none;
}

.topic.is-favorite h1{ color: #b03a00; }

@media screen and (min-width: 711.11px) {
  article.topic{
    padding-right: 208px;
    position: relative;
  }

  .topic .topic-nav{
    position: absolute;
    right: 0;
    top: 0;
    width: 192px;
  }

  .topic .topic-nav form{ display: block; }

  .topic .topic-nav a,
  .topic .topic-nav button,
  .topic .topic-nav .stats {
    display: block;
    width: 100%;
    padding: 0.4em 0;
    margin: 0;
    border-bottom: 1px solid #eee !important;
  }

  .topic .topic-nav .stats{
    font-size: 14px;
  }

  .topic .topic-nav a:hover,
  .topic .topic-nav button:hover{
    background: #f8f8f8;
    cursor: pointer;
  }

}

/* @end */

/* @group nav.pagination */

nav.pagination{
  position: relative;
  padding-left: 72px;
  line-height: 1.3;
  font-size: 16px;
  color: #333;
  margin-bottom: 2em;
}

nav.pagination a.pagination-prev,
nav.pagination a.pagination-next{
  position: absolute;
  color: inherit;
  left: 0;
  top: -2px;
  width: 28px;
  height: 24px;
  border: 1px solid #555;
  border-bottom-color: #333;
  text-indent: -9999em;
}

nav.pagination a.pagination-prev::after,
nav.pagination a.pagination-next::after{
  content: "";
  border: 6px solid black;
  position: absolute;
  right: 50%;
  bottom: 50%;
  margin-bottom: -6px;
  margin-right: -2px;
  border-color: transparent #777 transparent transparent;
  z-index: -1;
}

nav.pagination a.pagination-next::after{
  border-color: transparent transparent transparent #777;
  margin-right: -10px;
}

nav.pagination a.pagination-prev{
  border-radius: 3px 0 0 3px;
}

nav.pagination a.pagination-next{
  border-radius: 0 3px 3px 0;
  left: 28px;
  right: 0;
  border-left: none;
}

nav.pagination a.pagination-prev:active,
nav.pagination a.pagination-next:active{ background: #eee; }

nav.pagination a.pagination-prev:active::after,
nav.pagination a.pagination-next:active::after{
  z-index: 1;
}

nav.pagination a.pagination-prev:active::after{ border-right-color: #444; }
nav.pagination a.pagination-next:active::after{ border-left-color: #444; }



/* @end */

/* @group nav.toc */

nav.toc ol{ padding-top: 0; }

nav.toc ol li > span,
nav.toc ol li{
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 0;
  position: relative;
  border-bottom: 1px solid #f3f3f3;
}

nav.toc ol li.toc-proposal-cover-sheet,
nav.toc ol li > span{
  border: none;
  padding-bottom: 0;
}

nav.toc ol li ol{
  border-left: 3px solid #f3f3f3;
  padding-left: 6px;
  padding-top: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}

nav.toc ol li.is-incomplete,
nav.toc ol li.is-complete,
nav.toc ol li.is-error{
  padding-left: 32px;
  line-height: 24px;
}

nav.toc ol li.is-incomplete::before,
nav.toc ol li.is-complete::before,
nav.toc ol li.is-error::before{
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  position: absolute;
  left: 0;
  top: 4px;
}

nav.toc ol li.is-error::after,
nav.toc ol li.is-complete::after{
  opacity: 0.8;
}

nav.toc ol li.is-error::after{
  width: 14px;
  height: 14px;
  top: 9px;
  left: 5px;
}

nav.toc ol li::after{
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 7px;
  width: 16px;
  height: 16px;
  background-size: 100%;
}

nav.toc ol li span.toc-error-count{
  float: right;
  text-decoration: none;
  color: #aaa;
  font-size: 14px;
}



/* @end */

/* @group body.company */

body.company h1.primary-header,
body.user h1.primary-header{
  margin-bottom: 24px;
  padding-top: 24px;
  margin-top: 0;
}

/* @end */

/* @group body.home */

body.home{
  background-color: #2e3a47;
  color: white;
}

body.home main h1{ color: white; }
body.home header.banner{ margin-bottom: 24px; }
body.home header.banner form{ display: none; }
body.home main form div.field span.label-text{
  position: absolute;
  left: -9999em;
}

body.home main form{
  position: relative;
  padding-right: 96px;
}

body.home main form div.field input[type=text],
body.home main form div.field input[type=search]{
  border: none;
}

body.home main form footer{
  padding: 0;
  margin: 0;
  position: static;
}
body.home main form .button{
  color: white;
  width: 84px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}

body.home main form .button:hover{
  box-shadow: none;
  border-color: yellow;
  color: yellow;
  background: none;
}

@media screen and (min-width: 768.88px) {
  body.home main h1{
    font-size: 48px;
    margin-bottom: 0.4em;
  }

  body.home main p{
    font-size: 20px;
    max-width: 32em;
  }
}

body.home main p:first-of-type{ margin-bottom: 1.4em; }
body.home main form{ border: none; }

/* @end */

/* @group body.proposal-cost-volume */

.labor-related-costs,
.direct-material-costs,
.dynamic-items{
  margin-bottom: 24px;
  position: relative;
}

.labor-related-costs h1,
.direct-material-costs h1,
.dynamic-items h1{
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  color: #555;
  font-size: 21px;
  margin: 0;
  position: static;
}

.labor-related-costs .labor-related-cost:first-of-type,
.direct-material-costs .direct-material-cost:first-of-type,
.dynamic-items .dynamic-item:first-of-type{
  margin-top: 2em;
}

.labor-related-cost+.labor-related-cost,
.direct-material-cost+.direct-material-cost,
.dynamic-item+.dynamic-item{ margin-top: 36px; }

.dynamic-items  .dynamic-items-add,
.labor-related-costs  .labor-related-costs-add,
.direct-material-costs .direct-material-costs-add{
  background: none;
  border: 1px solid;
  color: #a50;
  font: inherit;
  padding: 6px 8px;
  font-size: 14px;
  margin: 4px 0 0 0.4em;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
}

.dynamic-items  .dynamic-items-add:hover,
.labor-related-costs  .labor-related-costs-add:hover,
.direct-material-costs .direct-material-costs-add:hover {
  background: #cb4d00;
  border-color: #cb4d00;
  color: white;
}

.dynamic-items  .dynamic-items-add:active,
.labor-related-costs  .labor-related-costs-add:active,
.direct-material-costs .direct-material-costs-add:active {
  color: #c6bb96;
  background: #7e2000;
  border-color: #7e2000;
}

.dynamic-item a.dynamic-item-remove,
.direct-material-cost a.direct-material-cost-remove{
  position: absolute;
  right: 16px;
  font-size: 14px;
  color: #e51600;
  border-radius: 3px;
  padding: 4px 6px;

}

.dynamic-item a.dynamic-item-remove:hover,
.direct-material-cost a.direct-material-cost-remove:hover{
  background: #cc1602;
  color: white;
  text-decoration: none;
}


/* @end */

/* @group body.proposal-overview */

/* @group header */


header.proposal-header,
header.user-header,
header.company-header{
  background: #eee;
  line-height: 24px;
  color: #555;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  white-space: nowrap;
}

header.proposal-header h1{
  overflow: hidden;
  text-overflow: ellipsis;
}
header.proposal-header a{color: #555; }
header.proposal-header a:hover{color: #333; }

/* @end */

/* @group content */


body.proposal.proposal-overview aside h1,
body.proposal.proposal-overview .proposal-footer .wrap > h1{
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: Georgia;
  letter-spacing: 0.125em;
  word-spacing: 0.15em;
  color: #444;
  margin-bottom: 1em;
}

body.proposal.proposal-overview aside h1{
  margin-left: -72px;
}


body.proposal.proposal-overview aside{
  padding-left: 72px;
  margin-top: 2em;
  position: relative;
}


body.proposal.proposal-overview aside img{
  width: 64px;
  height: 64px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 2.4em;
}

body.proposal.proposal-overview aside img+span{
  display: block;
  max-width: none;
}

body.proposal.proposal-overview aside div.hcard{
  line-height: 1.3em;
  max-width: 10em;
  font-size: 14px;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 0.5em;
}





/* @end */

/* @group footer */

footer.proposal-footer div.wrap{
  border-top: 3px solid #e3e3e3;
  padding-top: 1em;
  margin-top: 1em;
}



/* @end */

@media screen and (min-width: 711.11px) {
  body.proposal.proposal-overview main.proposal-content div.wrap{
    padding-right: 304px;
    position: relative;
  }

  body.proposal.proposal-overview main.proposal-content div.wrap aside{
    position: absolute;
    right: 0;
    top: 4px;
    margin: 0;
    width: 192px;
    padding: 0;
  }

  body.proposal.proposal-overview main.proposal-content div.wrap aside h1{
    margin-left: 0;
  }

    body.proposal.proposal-overview main.proposal-content div.wrap aside h1 span.technical-point{
  display: block;
  white-space: nowrap;
}
  body.proposal.proposal-overview main.proposal-content img{
    display: block;
    position: static;
    width: 96px;
    height: 96px;
    margin-bottom: 1em;
  }

}

/* @end */

/* @group body.company-commercialization-report */

body.proposal.proposal-company-commercialization-report fieldset.fieldset-contact-information{
  margin-top: 32px;
}



/* @end */




/* @group body.no-results */

body.topics-no-results main div.wrap,
body.proposals-no-results main div.wrap {
  padding: 1em;
  background: #f3f3f3;
  margin-top: 1em;
  border-radius: 8px;
}

body.proposals-no-results main div.wrap h1,
body.topics-no-results main div.wrap h1{ margin-top: 0; }

body.proposals-no-results main form {
  position: relative;
  padding-right: 96px;
}

body.proposals-no-results main form footer {
  padding: 0;
  margin: 0;
  position: static;
}

body.proposals-no-results main p {
  max-width: 50em;
}

body.proposals-no-results main form div.field span.label-text {
  position: absolute;
  left: -9999em;
}

body.proposals-no-results main form .button {
  width: 84px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}

/* @end */

/* @group body.topics, body.proposals */

body.proposals h1.primary-header,
body.topics h1.primary-header{
  margin-bottom: 24px;
}

/* @end */

/* @group body.sign-in, body.sign-up, body.sign-up-post */

body.sign-in,
body.sign-up,
body.sign-up-post { background: #fafafa; }

body.sign-in main div.wrap,
body.sign-up main div.wrap,
body.sign-up-post main div.wrap {
  padding: 16px;
  margin: 24px auto;
  max-width: 480px;
  border: 3px solid #e3e3e3;
  background: white;
}

.sign-in .sign-in-header,
.sign-up .sign-up-header {
  background: #eceff2;
  margin: -16px -16px 16px;
}

.sign-in .sign-in-header::after,
.sign-up .sign-up-header::after{
  content: "";
  display: table;
  clear: both;
}

.sign-in .sign-in-header .or,
.sign-up .sign-up-header .or{
  position: absolute;
  left: -9999em;
}

.sign-in .sign-in-header h1,
.sign-up .sign-up-header h1,
.sign-in .sign-in-header a,
.sign-up .sign-up-header a{
  color: #b03a00;
  font-size: 24px;
  float: left;
  width: 50%;
  padding: 20px 16px 20px;
  margin: 0;
  margin-right: -0.02em;
  text-align: center;
}

.sign-up .sign-up-header h1,
.sign-up .sign-up-header a{
  float: right;
}

.sign-in .sign-in-header h1,
.sign-up .sign-up-header h1{
  background: white;
}

.sign-in .sign-in-header a,
.sign-up .sign-up-header a{
  color: #0064be;
}

.sign-in .sign-in-header a:hover,
.sign-up .sign-up-header a:hover{
  color: #003c72;
}

body.sign-in footer,
body.sign-up footer,
body.sign-up-post footer {
  padding-bottom: 0;
  margin-top: 28px;
}

a.sign-in-reset{
  position: absolute;
  right: 0;
  top: 12px;
}


body.sign-up-post main h1{
  margin-top: 0;
  margin-bottom: 12px;
}
body.sign-up-post footer a.button{ margin-top: 24px; }
body.sign-up-post footer div { margin-top: 1em; }
body.sign-up-post footer div p{
  color: #555;
  font-size: 12px;
  margin-top: 4px;
}
body.sign-up p#password-instructions{
  font-size: 12px;
  color: #555;
  margin-top: 8px;
  margin-bottom: 0;
}

@media screen and (min-width: 711.11px) {
  body.sign-in main div.wrap,
  body.sign-up main div.wrap,
  body.sign-up-post main div.wrap {
    padding: 24px;
    max-width: 384px;
    margin: 48px auto;
  }

  .sign-in .sign-in-header,
  .sign-up .sign-up-header {
    margin: -24px -24px 24px;
  }

  body.sign-up-post main div.wrap{ max-width: 512px; }

  body.sign-in main form footer p,
  body.sign-up main form footer p,
  body.sign-up-post main form footer p {
  margin: 16px -24px -24px;
  }

}



/* @end */

/* @group body.topic-show */

.topic-show .topic .topic-nav{ margin-top: 1em; }
.topic-show .topic topic-nav form{ display: inline; }

.topic-show .topic {
  padding: 0 0 2em;
  margin: 0;
  border: none;
}

.topic-show .topic h1{ font-size: 18px; }

.topic-show .topic .topic-header{ margin-bottom: 1.67em;}

.topic-show .topic-header h1{
  font-size: 24px;
  line-height: 1.2em;
  font-family: Georgia, serif;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

@media screen and (min-width: 711.11px) { .topic-show .topic .topic-header h1{ font-size: 28px; } }


.topic-show div.wrap header h1{ max-width: 24em; }

.topic-show section h1{
  font: inherit;
  font-size: 18px;
  font-weight: 600;
  color: #555;
  margin-top: 0.33em;
  margin-bottom: 0.67em;
}

.topic-show main section p{ margin-bottom: 1em; }

.topic-show .tpocs .tpoc {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f3f3f3;
}

.topic-show .tpocs .tpoc:last-child{ border-bottom: 0;}

.topic-show .tpocs .tpoc div {
  margin-bottom: .4em;
}

@media screen and (min-width: 711.11px) {
  .topic-show .topic .topic-header{
    padding-right: 208px;
    position: relative;
  }

  .topic-show .topic .topic-nav{
    position: absolute;
    right: 0;
    top: 0;
    width: 192px;
  }

  .topic .topic-nav form{ display: block; }

}


/* @end */

/* @group body.proposal */

/* @group aside.form-nav */

  aside.form-nav{
    font-size: 14px;
    padding-left: 16px;
    width: 224px;
    border: 1px solid #aaa;
    padding: 12px;
    margin-top: 24px;
    border-radius: 5px;
  }

  @media screen and (min-width: 640px) {
    aside.form-nav{
      border: none;
      position: absolute;
      top: 41px;
      right: 0;
      padding: 0 0 0 16px;
      margin: 0;
    }

  }

  aside.form-nav h1{
    font-size: 11px;
    text-transform: uppercase;
    font-family: Georgia;
    letter-spacing: 0.125em;
    word-spacing: 0.15em;
    color: #333;
    margin-bottom: 20px;
  }

  aside.form-nav nav.toc,
  aside.form-nav a{
    color: #555;
    text-decoration: none;
  }

  aside.form-nav a:hover{ text-decoration: underline; }


  aside.form-nav nav.toc ol li ol{
    border-left: 2px solid #eee;
  }

  aside.form-nav nav.toc ol li span,
  aside.form-nav nav.toc ol li{
    padding: 0;
    margin: 0 0 6px;
    border: none;
    line-height: 1.2;
  }

  aside.form-nav span.toc-error-count{ display: none; }

  aside.form-nav nav.toc ol li.is-incomplete,
  aside.form-nav nav.toc ol li.is-complete,
  aside.form-nav nav.toc ol li.is-error{
    padding-left: 20px;
    line-height: 16px;
  }

  aside.form-nav nav.toc ol li.is-incomplete::before,
  aside.form-nav nav.toc ol li.is-complete::before,
  aside.form-nav nav.toc ol li.is-error::before{
    width: 14px;
    height: 14px;
    top: 1px;
  }

  aside.form-nav nav.toc ol li::after{
    left: 2px;
    top: 3px;
    width: 10px;
    height: 10px;
    background-size: 100%;
  }

  aside.form-nav nav.toc ol li.is-error::after{
    left: 3px;
    top: 4px;
    width: 8px;
    height: 8px;
  }

  aside.form-nav li.cover-sheet span{
    font-weight: 600;
    color: #606060;
  }

        .proposal-cover-sheet-proposal-information aside.form-nav nav.toc
  li.toc-proposal-cover-sheet-proposal-information a,
      .proposal-cover-sheet-project-team-information aside.form-nav nav.toc
  li.toc-proposal-cover-sheet-project-team-information a,
      .proposal-cover-sheet-principal-investigator-information aside.form-nav nav.toc
  li.toc-proposal-cover-sheet-principal-investigator-information a,
        .proposal-technical-volume aside.form-nav nav.toc
  li.toc-proposal-technical-volume a,
        .proposal-cost-volume aside.form-nav nav.toc
  li.toc-proposal-cost-volume a,
        .proposal-company-commercialization-report aside.form-nav nav.toc
  li.toc-proposal-company-commercialization-report a,
  nav.toc .is-current{
    font-weight: 600;
    text-decoration: none;
  }

  aside.form-nav ol ol{ padding-left: 0.8em;}

  aside.form-nav div.form-nav-prev-next{ margin-top: 2em; }
  aside.form-nav div.form-nav-prev-next::after{
    content: "";
    display: block;
    clear: both;
  }

  aside.form-nav div.form-nav-prev-next .form-nav-prev,
  aside.form-nav div.form-nav-prev-next .form-nav-next{
    float: left;
    border-color: #888;
    border-radius: 3px 0 0 3px;
    padding: 6px 8px;
    color: #555;
  }

  aside.form-nav div.form-nav-prev-next .form-nav-prev:hover,
  aside.form-nav div.form-nav-prev-next .form-nav-next:hover{
    text-decoration: underline;
    background: inherit;
  }

  aside.form-nav div.form-nav-prev-next .is-disabled{
    border-color: #ccc;
    color: #aaa;
  }

  aside.form-nav div.form-nav-prev-next .is-disabled:hover{
    text-decoration: none;
  }

  aside.form-nav div.form-nav-prev-next .form-nav-next{
    border-radius: 0 3px 3px 0;
    border-left: none;
  }

  aside.form-nav div.form-nav-prev-next .form-nav-prev.is-disabled{
    border-right: none;
    cursor: default;
  }

  aside.form-nav div.form-nav-prev-next .form-nav-prev.is-disabled+.form-nav-next{
    border-left: 1px solid #aaa;
  }


/* @end */


/* @end */

/* @group bigfoot */

body .bigfoot-footnote__content { padding: 14px; }

body .bigfoot-footnote__content p,
body .bigfoot-footnote__content ol,
body .bigfoot-footnote__content ul{
  font-size: 14px;
  line-height: 1.33;
  color: #333;
}

body .bigfoot-footnote__content ul{
  list-style-type: circle;
  padding-left: 20px;
  padding-bottom: 20px;
}

body .bigfoot-footnote__content blockquote{
  font-size: 14px;  
  line-height: 1.33;
  color: #333;
  padding-left: 20px;
  padding-bottom: 20px;
}

body .bigfoot-footnote__button {
  padding: 0;
  border-radius: 99em;
  margin: 0 0 0 0.4em;
  width: 15px;
  height: 15px;
  font-family: Arial;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  border: 1px solid #ffce98;
  color: #924100;
  background: #ffeac3;
  transition: none;
}

body .bigfoot-footnote__button:hover,
body .bigfoot-footnote__button:focus{
  background: #fff2c8;
    border: 1px solid #ffce98;
    color: #5e2900;
}

body .bigfoot-footnote__button:focus{
  border-color: #1188ff;
  box-shadow: 0 0 0 1px rgba(17,136,255,0.15);
}

body .bigfoot-footnote__button:active,
body .bigfoot-footnote__button.is-active {
  background: #5e2900;
    border: 1px solid #5e2900;
  color: #fff;
}


body .bigfoot-footnote__button svg{
  display: none;
}
body .bigfoot-footnote__button:before{
  content: "?";
}

body .bigfoot-footnote__button:after {
  content: '';
  display: table;
  clear: both;
}

.bigfoot-footnote__wrapper {
  width: 50em;
}

@media screen {
  body.bigfoot section.footnotes{
    display: none;
  }
}

/* @end */

/* @group body.proposal-cover-sheet-principal-investigator-information */

body.proposal-cover-sheet-principal-investigator-information form > h1 {
  margin-bottom: 32px;
}

/* Generated PDF styles */

div.wrap,
div.wrapper{
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

div.wrap::after,
div.wrapper::after{
	content: "";
	display: table;
	clear: both;
}
.cover-sheet {
  margin: 1em;
}

.cover-sheet .cover-sheet--header{ position: relative; }

.cover-sheet .cover-sheet--header h1 {
	font-weight: 600;
	line-height: 1.2;
	margin: 0 auto 1em;
	text-align: center;
}

.cover-sheet .cover-sheet--header h1 span{ display: block; }
.cover-sheet .cover-sheet--header p{
	margin: 0 auto 3em;
	font-size: 14px;
	max-width: 64em;
	text-align: center;
}

.cover-sheet .cover-sheet--header dd,
.cover-sheet .cover-sheet--header dt{ display: block; }

.cover-sheet dt::after{ content: ":"; }

.cover-sheet .cover-sheet--header .proposal-number{
  font-size: 21px;
  font-weight: 600;
  display: inline;
  margin: 0;
}

.cover-sheet .cover-sheet--header .due-date,
.cover-sheet .cover-sheet--header .date-submitted{
	margin: 0;
	position: absolute;
	bottom: 4px;
	right: 0;
}

.cover-sheet .cover-sheet--header .date-submitted{ bottom: 24px; }
.cover-sheet .cover-sheet--header dt.date-submitted{ right: 4.9em; }

.cover-sheet .cover-sheet--header .due-date{
	text-align: right;
	font-weight: 600;
	display: block;
}

.cover-sheet .cover-sheet--agency-information,
.cover-sheet .cover-sheet--firm-information,
.cover-sheet .cover-sheet--eligibility,
.cover-sheet .cover-sheet--business-information,
.cover-sheet .cover-sheet--proposal-information,
.cover-sheet .cover-sheet--project-team-information,
.cover-sheet .cover-sheet--principal-investigator{
  margin-top: 1.2em;
  padding-top: 1.2em;
  border-top: 2px solid #eee;
}

.cover-sheet .cover-sheet--agency-information > h1,
.cover-sheet .cover-sheet--firm-information > h1,
.cover-sheet .cover-sheet--eligibility > h1,
.cover-sheet .cover-sheet--business-information > h1,
.cover-sheet .cover-sheet--proposal-information > h1,
.cover-sheet .cover-sheet--project-team-information > h1,
.cover-sheet .cover-sheet--principal-investigator > h1{
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 0.6em;
}

.cover-sheet .cover-sheet--eligibility p.note,
.cover-sheet .question-17 aside{
	font-size: 14px;
	line-height: 1.25em;
	margin-left: 32px;
	margin-bottom: 1em;
	color: #444;
}
.cover-sheet .cover-sheet--agency-information dd.name,
.cover-sheet .cover-sheet--agency-information .topic-number{ font-weight: 600; }


.cover-sheet .question{
  padding-top: 0.4em;
  padding-bottom: 0.6em;
  border-top: 1px solid #e3e3e3;
}

.cover-sheet .question.question-14 > .question--text,
.cover-sheet .question.question-15 > .question--text{
	margin-bottom: 0.7em;
	display: block;
}

.cover-sheet .question.question-1,
.cover-sheet .question.question-2,
.cover-sheet .question.question-13,
.cover-sheet .question.question-22,
.cover-sheet .question.question-24 {
	border-top: 0;
}

.cover-sheet .question .question--number,
.cover-sheet .question .question--answer{
	font-weight: 600;
	color: #555;
}

.cover-sheet .question .question--number::after{
  content: ".";
}

.cover-sheet .question .question--number,
.cover-sheet .question .question--answer,
.cover-sheet .question .question--text{
  line-height: 1.4em;
}

.cover-sheet .cover-sheet--affiliated-persons > h1{ display: none; }

.cover-sheet .cover-sheet--proposal-information article.technical-abstract,
.cover-sheet .cover-sheet--proposal-information article.anticipated-benefits,
.cover-sheet .cover-sheet--proposal-information article.key-words{
	margin-top: 1em;
}

.cover-sheet .cover-sheet--proposal-information article.technical-abstract h1,
.cover-sheet .cover-sheet--proposal-information article.anticipated-benefits h1,
.cover-sheet .cover-sheet--proposal-information article.key-words h1,
.cover-sheet .cover-sheet--affiliated-persons .person h1{
  font-weight: 600;
  color: #444;
  line-height: 1.2;
  margin-bottom: 0.4em;
}

.cover-sheet .cover-sheet--proposal-information article.technical-abstract span,
.cover-sheet .cover-sheet--proposal-information article.anticipated-benefits span{
	font-weight: normal;
}

.cover-sheet .cover-sheet--affiliated-persons .person{
  margin-top: 1em;
}

@media screen and (min-width: 355.55px){

	.cover-sheet .cover-sheet--affiliated-persons .person dl{
		padding-left: 96px;
		margin-bottom: 2em;
	}
	.cover-sheet .cover-sheet--affiliated-persons .person dl::after{
	  content: "";
	  display: table;
	  clear: both;
	}

	.cover-sheet .cover-sheet--affiliated-persons .person dl dt,
	.cover-sheet .cover-sheet--affiliated-persons .person dl dd{
  		float: left;
  		width: 100%;
		margin: 0;
		padding: 0;
		padding-top: 0.4em;
	}

	.cover-sheet .cover-sheet--affiliated-persons .person dl dt{
		clear: left;
  		width: 96px;
	  	margin-left: -96px;
	}

	.cover-sheet .cover-sheet--affiliated-persons .person .signature,
	.cover-sheet .cover-sheet--affiliated-persons .person .date{
		display: inline-block;
		font-size: 14px;
		padding-top: 0.6em;
		border-top: 1px solid;
	}

	.cover-sheet .cover-sheet--affiliated-persons .person .signature{
  		width: 70%;
	}
	.cover-sheet .cover-sheet--affiliated-persons .person .date{
		width: 25%;
	}
}

@media screen and (min-width: 568.888px){

	.cover-sheet .cover-sheet--agency-information dl,
	.cover-sheet .cover-sheet--firm-information dl,
	.cover-sheet .question.question-14 dl,
	.cover-sheet .question.question-16 dl{ padding-left: 160px; }

	.cover-sheet .cover-sheet--agency-information dl::after,
	.cover-sheet .cover-sheet--firm-information dl::after,
	.cover-sheet .question.question-14 dl::after,
	.cover-sheet .question.question-16 dl::after{
	  content: "";
	  display: table;
	  clear: both;
	}

	.cover-sheet .cover-sheet--agency-information dl dt,
	.cover-sheet .cover-sheet--agency-information dl dd,
	.cover-sheet .cover-sheet--firm-information dl dt,
	.cover-sheet .cover-sheet--firm-information dl dd,
	.cover-sheet .question.question-14 dl dt,
	.cover-sheet .question.question-14 dl dd,
	.cover-sheet .question.question-16 dl dt,
	.cover-sheet .question.question-16 dl dd{
	  float: left;
	  width: 100%;
	  margin: 0;
	  padding: 0;
	  padding-top: 0.4em;
	}

	.cover-sheet .question.question-16 dl dd+dd{ padding-top: 0; }

	.cover-sheet .cover-sheet--agency-information dl dt,
	.cover-sheet .cover-sheet--firm-information dl dt,
	.cover-sheet .question.question-14 dl dt,
	.cover-sheet .question.question-16 dl dt{
  		clear: left;
  		// margin-left: -160px;
  		width: 160px;
	}

	.cover-sheet .cover-sheet--proposal-information .proposed-cost,
	.cover-sheet .cover-sheet--proposal-information .phase,
	.cover-sheet .cover-sheet--proposal-information .duration{
		float: none;
		margin: 0;
		display: inline-block;
		width: 16.67%;
		margin-right: -0.4em;
	}

  	.cover-sheet .question{
		padding-left: 32px;
		padding-right: 48px;
		position: relative;
	}

	.cover-sheet .question.question-15{ padding-right: 0; }

  	.cover-sheet .question .question--number,
  	.cover-sheet .question .question--answer{
		position: absolute;
		top: 0.4em;
		left: 0;
		font-weight: normal;
		text-align: right;
		text-transform: uppercase;
	}

  	.cover-sheet .question .question--answer{
		left: auto;
		right: 0;
		top: 0.6em;
		font-size: 14px;
		font-weight: 600;
	}

	.cover-sheet .cover-sheet--affiliated-persons .person{
		float: left;
		width: 50%;

	}

}


/* @end */
