/* @override http://localhost:4000/stylesheets/styles.css */

/* @group bootstrap */

div.skip-nav a { position: absolute; left: -10000; top: 0; width: 1px; height: 1px; overflow: hidden; } div.skip-nav a:focus { position: absolute; top: 5px; left: 5px; width: auto; height: auto; z-index: 999999; background-color: white; padding-left: 2px; padding-right: 2px; overflow: visible; }


body{
    font-family: helvetica neue, helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    padding-bottom: 2em;
    background-color: white;
}

a{ color: #0064be; }
a:hover{ color: #003c72; }

a.a-return{ 
    color: #666; 
    font-size: 14px;
    display: block;
    padding-top: 8px;
}

a.a-return::before{
    content: "\2190";
    color: #888;
    margin-left: 4px;
    margin-right: 10px;
    display: inline-block;
    background: #f3f3f3;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 100%;
    text-align: center;
	
}
a.a-return:hover{ color: #333; }
a.a-return:hover::before{ color: #444; background: #eee;}





@media screen and (min-width: 768.88px) {
}

p, li, dd, dt {
    line-height: 1.4em;
    max-width: 36em;
    margin-bottom: 0.7em;
}

@media screen and (min-width: 533.33px) {
    dl {
        padding-top: 16px;
        margin-top: 32px;
        border-top: 1px solid #eee;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -column-count: 2;
    }	
}

dt{
	margin-bottom: 0;
	color: #444;
	font-size: 0.8em;
	font-weight: 600;
}

span.preposition{
    font-style: italic;
    font-family: Georgia;
    text-transform: lowercase;
}

div.wrap{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

div.wrap::after{
    content: "";
    display: table;
    clear: both;
}


h1.primary-header {
    font-size: 32px;
    font-family: 'franklin-gothic-urw-cond', Helvetica Neue, Helvetica, sans-serif;
    line-height: 1;
    margin-top: 24px;
    margin-bottom: 0.6em;
    margin-left: -0.03em;
}

@media screen and (min-width: 711.11px) { 
    h1.primary-header{ 
        font-size: 40px; 
        margin-bottom: 0.4em;
    } 
}

main ol{ 
    margin-bottom: 2em;
    padding-top: 1em; 
}

div.notice{
	font-size: 14px;
	padding: 12px;
	border: 1px solid goldenrod;
	border-radius: 3px;
	margin: 1em 0;
	background: #fff2df;
	color: #4f0e00;
	
}
div.notice a{
	color: #af3b00;
}
div.notice p:last-child{ margin-bottom: 0;}


/* @end */

/* @group forms */

/* @group summary.error-message */

summary.error-message{
    background: #990017;
    color: white;
    padding: 8px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;
    margin-top: -8px;
}

summary.error-message details{ margin-top: 8px; }
summary.error-message details p:first-of-type{ margin-top: 8px; }
summary.error-message details ol{
    list-style-type: decimal;
    margin: 0 0 0 1.4em;
    padding-top: 0;
}

summary.error-message details ol li{
    margin-bottom: 6px;
}

/* @end */

label { display: block; }

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
select,
textarea{
    -webkit-appearance: none;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 36px;
    min-height: 36px;
    min-width: 4em;
    width: 100%;
    margin: 0;
    font: inherit;
}

.field-select select{
    min-width: 0; 
    background: none;
    padding-right: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.field-select span.label-select{ 
    position: relative; 
    width: 15%;
    display: block;
}

.field-select span.label-select::after{
    content: "";
    border: 6px solid black;
    position: absolute;
    right: 8px;
    bottom: 10px;
    border-color: #aaa transparent transparent transparent;
    z-index: -1;
}

.field-select:hover select{ border-color: #aaa; }
.field-select:hover::after{ border-top-color: #888; }

textarea{
    display: block;
    width: 100%;
    max-width: 40em;
    min-height: 12em;
}

button,
.button {
    background: none;
    border: 1px solid;
    color: #008c52;
    font: inherit;
    padding: 10px 12px;
    margin: 0;  
    line-height: 16px;	
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
}

button:hover {
    background: #00834d;
    border-color: #00834d;
    color: white;
    box-shadow: 0 1px 0 #f3f3f3;
}

button:active {
    color: #7aa79d;
    background: #006e52;
    border-color: #006e52;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}

button.button-remove{ color: #e51600; }
button.button-remove:hover{ 
    background: #cc1602; 
    border-color: #cc1602; 
    color: white;
}

button.button-remove:active{ 
    color: #ffb302; 
    background: #911002;
    border-color: #911002; 
}

form > h1 ,
body.sign-up-post main h1,
.fieldset-dynamic > header > h1 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 32px;
    color: #444;
    font-family: Georgia;
}

form a.a-return + h1{
    margin-top: 1em !important;	
}

div.field,
section.fieldset,
section.fieldset.fieldset-radio{ margin-bottom: 24px; }

div.field+section.fieldset{ margin-top: 32px; }

section.fieldset{
    border: 1px solid #cfcfcf;
    padding: 20px 16px 16px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 4px;
}

.fieldset+.fieldset:not(.fieldset-radio){ margin-top: 32px; }

.fieldset-principal-investigator .fieldset:last-of-type,
.fieldset-dynamic-item.field:last-of-type{
    margin-bottom: 2px;
}

section.fieldset > h1,
section.fieldset > header > h1{
    position: absolute;
    background: white;
    margin: 0 0 -3px;
    bottom: 100%;
    left: 8px;
    padding: 0 1px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #777;
}

section.fieldset div.field:last-of-type+section.fieldset{
    margin-top: 24px;
}

.fieldset.fieldset-dynamic,
.fieldset.fieldset-discretionary-technical-assistance,
.fieldset.fieldset-equivalent-work,
.fieldset.fieldset-equivalent-work .fieldset,
.fieldset.fieldset-radio{
    padding: 0;
    border: none;
}

.fieldset.fieldset-equivalent-work-detail > h1,
.fieldset.fieldset-phase-2 > h1{ display: none; }

section.fieldset.fieldset-radio > h1,
div.field span.label-text{
    display: block; 
    max-width: 40em;
    margin: 0 0 8px;
    padding: 0;
    position: static;
    font: inherit;
    line-height: 20px;
    color: inherit;
}

div.field.field-radio{ 
    display: inline-block; 
    vertical-align: middle;
    margin-bottom: 0;
}
div.field.field-radio label{
    display: inline-block;
    padding: 0 12px 4px 12px;
    border: 1px solid #ccc;
    min-height: 32px;
    line-height: 32px;
    vertical-align: middle;
}

main div.field input:focus,
main div.field textarea:focus,
main div.field.field-checkbox.is-focused label,
main div.field.field-radio.is-focused label{
    background: #fff2df;
    border-color: goldenrod;
    outline: none;
}

div.field.field-checkbox span.label-text,
div.field.field-radio span.label-text,
div.field.field-radio input{ 
    display: inline; 
    vertical-align: middle;
}

div.field.field-checkbox{
    position: relative;
    padding-left: 24px;
    margin-bottom: 8px;
}

div.field.field-checkbox input{ 
    font-size: 1em; 
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
}

div.field.field-checkbox+div.field.field-checkbox{ margin-top: 4px; }

div.field.field-checkbox+.is-branch{
    margin-top: -4px !important;
    margin-left: 3px;
    margin-bottom: 16px;
}

div.element-aside{
    padding-left:3px;
}

div.field.is-error input,
div.field.is-error textarea{
    background: #fff7f4;
    background: repeating-linear-gradient(
        45deg,
        #fff4f2,
        #fff4f2 10px,
        #fff7f4 10px,
        #fff7f4 20px
    );
    border-color: #ce6246;
}

div.field.is-error span.error-message,
section.fieldset.fieldset-radio.is-error span.error-message{
    color: #990017;	
    display: block;
}

div.field.is-error span.error-message,
section.fieldset.fieldset-radio.is-error span.error-message{
    color: #af1830;	
    font-size: 14px;
    padding-top: 6px;
    display: block;
    font-style: italic;	
}

section.fieldset.fieldset-address div.field-city-state-zip::after{
	content: "";
	display: table;
	clear: both;
}

section.fieldset.fieldset-address div.field-city-state-zip{
	margin-right: -0.67em;
	margin-bottom: 0;
}

section.fieldset.fieldset-address div.field.field-city,
section.fieldset.fieldset-address div.field.field-state,
section.fieldset.fieldset-address div.field.field-zip{
	float: left;
	width: 25%;
	padding-right: 0.67em; 
}

section.fieldset.fieldset-address div.field.field-city{ 
	width: 50%; 
}


section.fieldset.fieldset-address div.field.field-city input,
section.fieldset.fieldset-address div.field.field-state input,
section.fieldset.fieldset-address div.field.field-zip input{
	min-width: 0;
}



/* @group widths */

.field-collaborator-name input,
.field-collaborator-point-of-contact input{
    width: 75%;	
}

.field-name input,
.field-title input,
.field-category input,
.field-email input,
.field-med_str input,
.field-federal-tax-id input,
.field-duns-number input,
.field-cage-code input{
    width: 50%;
    min-width: 10em;
}

.field-phone input,
.field-fax input,
.field-rate input,
.field-estimated-hours input,
.field-overhead input,
.field-year input,
.field-number input,
.field-int input,
.field-integer input,
.field-float input,
.field-fringe-benefits input,
.field-dollars input,
.field-calculated input,
.field-timespan input,
.field-percentage input,
.field-proposed-dta-amount input,
.field-contract-number input,
.field-short_str,
.field-num-phase-2-awards input{
    width: 33%;
}

.field-phone-number input,
.field-fax-number input{
    width: 10em;
}


.field-number-short input { width: 2em; }

/* @end */


.is-branch{
    padding: 8px 0 0 12px !important;
    margin-top: -12px !important;
    position: relative;
    border: none !important;
}

.is-branch::after{
    position: absolute;
    left: 0;
    top: 0;
    bottom: -1px;
    width: 3px;
    border-radius: 99em;
    content: "";
    background: #e3e3e3;
}

main div.wrap > form { max-width: 576px; }

@media screen and (min-width: 640px) {
   body.company main div.wrap > form,
   body.proposal main div.wrap > form {
       padding-right: 16px;
       border-right: 1px solid #eee;
   }
	
   body.proposal main div.wrap > form {
       margin-right: 224px;
   }
	
	
}


main form footer{ 
    margin-top: 32px; 
    padding-bottom: 64px;
    position: relative;
}

main form footer a{
    position: absolute;
    right: 0;
    top: 12px;
}

main form footer a:hover{ color: #333; }
main form footer p{
    clear: both;
    font-family: Georgia;
    font-style: italic;
    color: #888;
    background: #f3f3f3;
    padding: 12px;
    max-width: none;
    margin-top: 24px;
    font-size: 14px;
}
main form footer p button{
    display: inline;
    float: none;
    padding: 4px 8px;
    color: #555;
    background: white;
    border: 2px solid #ccc;
    font-family: Helvetica;
    font-style: normal;
    margin-left: 0.2em;
 }

main form footer p a{
    position: inherit;
}

/* @end */

/* @group header.banner */

header.banner{
    background: #2c628d;
    color: #fff;
    line-height: 32px;
    overflow: hidden;
    padding: 4px 0;
}

header.banner a{ color: white; }

header.banner h1{
    font-weight: 600;
    margin-top: 4px;
    float: left;
    margin-right: 8px;
}

header.banner h1 a{ text-decoration: none; }
header.banner h1 a:hover{ text-decoration: underline; }


header.banner h1 span.icon-logo{
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 38px;
    background-size: 100%;
    margin-right: 0.4em;
}

header.banner form,
header.banner div.field,
header.banner div.field label { 
    display: block;
    width: 100%; 
}

header.banner form{
    margin-bottom: 8px;
    float: left;
}

header.banner form footer{
    position: absolute;
    left: -9999em;
    top: -9999em;
}

header.banner nav::after{
    content: "";
    display: table;
    clear: both; 
}

header.banner nav{
    margin-top: 4px;
}
header.banner nav a{ 
    float: left;
    padding: 0 4px;
}
header.banner nav a:hover{ color: #a3d3ff; }

body.proposals, body.notifications, body.company,
body.proposal, body.topics, body.topic,
body.proposal-no-results, body.search-no-results {
    background-color: white;
}

body.my-topics header.banner nav a.my-topics,
body.notifications header.banner nav a.notifications,
body.my-company header.banner nav a.my-company {
    color: #fefefe;
    background: #002152;
    text-decoration: none;
}
header.banner form span.label-text,
header.banner form button{ position: absolute; left: -9999em; }

header.banner form div.field{ 
    position: relative; 
    margin: 0;
}
header.banner form div.field::after{
    background-size: 100%;
    position: absolute;
    left: 9px;
    top: 50%;
    margin-top: -8px;
    content: "";
    width: 16px;
    height: 16px;
    z-index: 2;
}

header.banner form div.field input {
    border-radius: 99em;
    border: none;
    line-height: 20px;
    min-height: 20px;
    padding-left: 28px;
    width: 100%;
    font-size: 14px;
    background: #11233f;
    color: #fff;
    position: relative;
    top: -1px;
}


@media screen and (min-width: 355.55px) {
    header.banner nav{ 
        font-size: 12px; 
        position: absolute;
        top: 1px;
        right: 0;
    }
}


@media screen and (min-width: 444.44px) {

    header.banner div.wrap{ padding-left: 124px; }

    header.banner form{ 
        margin-top: 3px; 
        margin-bottom: 0;
    }
	
    header.banner nav{ 
        position: static;
        font-size: 14px;
        margin-left: -10px;
        margin-top: 4px;
    }

    header.banner nav a{  padding: 0 10px; }
    header.banner h1{
        width: 112px;
        margin: 0;
        margin-left: -124px;
    }
}


@media screen and (min-width: 711.11px) {

    header.banner{
        line-height: 32px;
    }
	
    header.banner div.wrap{ 
        padding: 8px 288px 9px 156px;
    }
	
    header.banner h1{
        width: 156px;
        margin-left: -156px;
        margin-top: 2px;
    }
		
    header.banner h1 span.icon-logo{
        width: 42px;
        height: 36px;
        position: relative;
        top: -5px;
        left: -1px;
        margin-right: 6px;
    }

    header.banner nav{
        position: absolute;
        right: -0.8em;
        top: 6px;
        width: auto;
    }	
}


/* @end */

/* @group article.topic */

article.topic{
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
    color: #333;
}

article.topic p{ margin-bottom: 0; }

article.topic a.topic-content{
    display: block;
    text-decoration: none;
    color: inherit;
}

article.topic a.topic-content:hover h1{
    text-decoration: underline;
}

article.topic h1{
    font-family: georgia;
    font-size: 21px;
    line-height: 24px;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.33em;
    color: #333;
    position: relative;
    margin-right: 0.4em;
}

article.topic h2{
    display: inline-block;
    vertical-align: middle;
    color: #666;
    background: #eee;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    border-radius: 3px;
    position: relative;
    top: -0.2em;
}

article.topic form{
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    border: none;
}

article.topic nav{ padding-top: 0.4em; }

article.topic nav a,
article.topic nav button{
    background: none;
    border: none;
    color: #0064be;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    font-size: 14px;
    margin: 0;
    margin-right: 0.4em;
    padding: 4px 0;
    text-align: left;
    text-decoration: underline;
    box-shadow: none;
}

article.topic nav a:hover,
article.topic nav button:hover{ 
    color: #032353; 
    border-color: inherit;
    text-decoration: none;
}

/* @group is-favorite */

article.topic.is-favorite h1{
    color: #b03a00;
}

/* @end */

@media screen and (min-width: 711.11px) {
    article.topic{
        padding-right: 208px;
        position: relative;
    }
    
    article.topic nav{
        position: absolute;
        right: 0;
        top: 0;
        width: 192px;
    }

    article.topic nav form{ display: block; }

    article.topic nav a,
    article.topic nav button{
        display: block;
        width: 100%;
        padding: 0.4em 0;
        margin: 0;
        border-bottom: 1px solid #eee !important;
    }
    
    article.topic nav a:hover,
    article.topic nav button:hover{
        background: #f8f8f8;
        cursor: pointer;
    }
    
}

/* @end */

/* @group nav.pagination */

nav.pagination{
    margin-top: 3em;
    position: relative;
    padding-top: 1em;
    padding-right: 5em;
    padding-left: 6em;
    text-align: center;
    line-height: 1.3;
    color: #555;
    border-top: 3px solid #eee;
    font-size: 14px;
    margin-bottom: 2em;
}

nav.pagination span.showing-results{ display: block; }
@media screen and (min-width: 466.66px) { nav.pagination span.showing-results{ display: inline; } }

nav.pagination a.pagination-prev,
nav.pagination a.pagination-next{
    position: absolute;
    left: 0;
    top: 1em;
}

nav.pagination a.pagination-next{
    left: auto;
    right: 0;
}



/* @end */

/* @group nav.toc */

nav.toc ol{ padding-top: 0; }

nav.toc ol li > span,
nav.toc ol li{
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0;
    position: relative;
    border-bottom: 1px solid #f3f3f3;
}

nav.toc ol li.toc-proposal-cover-sheet,
nav.toc ol li > span{
    border: none;
    padding-bottom: 0;
}

nav.toc ol li ol{ 
    border-left: 3px solid #f3f3f3;
    padding-left: 6px;
    padding-top: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}

nav.toc ol li.is-incomplete,
nav.toc ol li.is-complete,
nav.toc ol li.is-error{
    padding-left: 32px;	
    line-height: 24px;
}

nav.toc ol li.is-incomplete::before,
nav.toc ol li.is-complete::before,
nav.toc ol li.is-error::before{
    content: "";
    width: 24px;
    height: 24px;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    top: 4px;	
}

nav.toc ol li.is-error::after,
nav.toc ol li.is-complete::after{
    opacity: 0.8;
}

nav.toc ol li.is-error::after{
    width: 14px;
    height: 14px;
    top: 9px;
    left: 5px;
}

nav.toc ol li::after{
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    top: 7px;
    width: 16px;
    height: 16px;
    background-size: 100%;
}

nav.toc ol li span.toc-error-count{
    float: right;
    text-decoration: none;
    color: #aaa;
    font-size: 14px;
}



/* @end */

/* @group body.company */

body.company h1.primary-header{
    margin-bottom: 24px;
    padding-top: 24px;
    margin-top: 0;	
}

/* @end */

/* @group body.home */

body.home{
    background-color: #12355d;
    color: white;
}

body.home header.banner{ margin-bottom: 24px; }
body.home header.banner form{ display: none; }
body.home main form div.field span.label-text{
    position: absolute;
    left: -9999em;
}

body.home main form{
    position: relative;
    padding-right: 96px;
}

body.home main form div.field input[type=text],
body.home main form div.field input[type=search]{ 
    border: none; 
    height: 38px;
    padding: 0;
}

body.home main form button{
    color: white;
    width: 84px;
    position: absolute;
    right: 0;
    top: 0;
}

body.home main form button:hover{
    box-shadow: none;
    border-color: yellow;
    color: yellow;
    background: none;
}

@media screen and (min-width: 768.88px) {
    body.home main h1{
        font-size: 48px;
        margin-bottom: 0.4em;
    }
	
    body.home main p{ 
        font-size: 20px; 
        max-width: 32em;
    }
}

body.home main p:first-of-type{ margin-bottom: 1.4em; }
body.home main form{ border: none; }

/* @end */

/* @group body.proposal-cost-volume */

section.fieldset-dynamic > header{
    margin-bottom: 24px;
}

section.fieldset-dynamic > header h1{
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    color: #555;
    font-size: 21px;
    line-height: 16px;
    margin: 0;
    position: static;
}

section.fieldset-dynamic > header a{
    background: none;
    border: 1px solid;
    color: #a50;
    font: inherit;
    padding: 6px 8px;
    font-size: 14px;
    margin: 4px 0 0 0.4em;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-radius: 3px;
}

section.fieldset-dynamic > header a:hover {
    background: #cb4d00;
    border-color: #cb4d00;
    color: white;
}

section.fieldset-dynamic > header a:active {
    color: #c6bb96;
    background: #7e2000;
    border-color: #7e2000;
}

section.fieldset-dynamic section.fieldset-dynamic-item a.remove{
    position: absolute;
    right: 16px;
    font-size: 14px;
    color: #e51600;
    border-radius: 3px;
    padding: 4px 6px;
	
}

section.fieldset-dynamic section.fieldset-dynamic-item a.remove:hover{
    background: #cc1602; 
    color: white;
    text-decoration: none;
}


/* @end */

/* @group body.proposal-overview */

/* @group header */


header.proposal-banner,
header.company-banner{
    background: #eee;
    line-height: 24px;
    color: #555;
    padding-top: 8px;
    padding-bottom: 8px;
}

header.proposal-banner a{color: #555; } 
header.proposal-banner a:hover{color: #333; }

/* @end */

/* @group content */


body.proposal.proposal-overview aside h1,
body.proposal.proposal-overview .proposal-footer .wrap > h1{
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: Georgia;
    letter-spacing: 0.125em;
    word-spacing: 0.15em;
    color: #444;
    margin-bottom: 1em;
}

body.proposal.proposal-overview aside h1{
    margin-left: -72px;	
}


body.proposal.proposal-overview aside{ 
    padding-left: 72px;
    margin-top: 2em;
    position: relative; 
}


body.proposal.proposal-overview aside img{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 2.4em;
}

body.proposal.proposal-overview aside img+span{
    display: block;
    max-width: none;
}

body.proposal.proposal-overview aside div.hcard{
    line-height: 1.3em;
    max-width: 10em;
    font-size: 14px;	
}

body.proposal.proposal-overview aside div.hcard span{
    display: block;
}

/* @end */

/* @group footer */

footer.proposal-footer div.wrap{
    border-top: 3px solid #e3e3e3;
    padding-top: 1em;
    margin-top: 1em;
}



/* @end */

@media screen and (min-width: 711.11px) {
    body.proposal.proposal-overview main.proposal-content div.wrap{ 
        padding-right: 304px;
        position: relative;
    }

    body.proposal.proposal-overview main.proposal-content div.wrap aside{ 
        position: absolute;
        right: 0;
        top: 4px;
        margin: 0;
        width: 192px;
        padding: 0;
    }

    body.proposal.proposal-overview main.proposal-content div.wrap aside h1{
        margin-left: 0; 
    }
	
    body.proposal.proposal-overview main.proposal-content div.wrap aside h1 span.technical-point{
        display: block;
        white-space: nowrap;
    }
    body.proposal.proposal-overview main.proposal-content img{
        display: block;
        position: static;
        width: 96px;
        height: 96px;
        margin-bottom: 1em;
    }

}

/* @end */



/* @group body.no-results */

body.topics-no-results main div.wrap,
body.proposals-no-results main div.wrap {
    padding: 1em;
    background: #f3f3f3;
    margin-top: 1em;
    border-radius: 8px;
}

body.proposals-no-results main div.wrap h1,
body.topics-no-results main div.wrap h1{ margin-top: 0; }

/* @end */

/* @group body.topics, body.proposals */

body.proposals h1.primary-header,
body.topics h1.primary-header{
    margin-bottom: 24px; 
}

/* @end */

/* @group body.sign-in, body.sign-up, body.sign-up-post */

body.sign-in,
body.sign-up,
body.sign-up-post { background: #fafafa; }

body.sign-in main div.wrap,
body.sign-up main div.wrap,
body.sign-up-post main div.wrap {
    padding: 16px;
    margin: 24px auto;
    max-width: 480px;
    border: 3px solid #e3e3e3;
    background: white;
}

body.sign-in main h1,
body.sign-up main h1,
body.sign-up-post main h1{
    margin-top: 0;
    margin-bottom: 24px;
    color: #b03a00;
}

body.sign-in footer,
body.sign-up footer,
body.sign-up-post footer { 
    padding-bottom: 0; 
    margin-top: 28px;
}

body.sign-up-post main h1{
    margin-top: 0;
    margin-bottom: 12px;
}
body.sign-up-post footer a.button{ margin-top: 24px; }
body.sign-up-post footer div { margin-top: 1em; }
body.sign-up-post footer div p{ 
    color: #555;
    font-size: 12px;
    margin-top: 4px;
}
body.sign-up p#password-instructions{
    font-size: 12px;
    color: #555;
    margin-top: 8px;
    margin-bottom: 0;
}

@media screen and (min-width: 711.11px) { 
    body.sign-in main div.wrap,
    body.sign-up main div.wrap,
    body.sign-up-post main div.wrap {
        padding: 24px;
        max-width: 384px;
        margin: 48px auto;
    }
	
    body.sign-up-post main div.wrap{ max-width: 512px; }
}



/* @end */

/* @group body.topic */

body.topic main nav{ margin-top: 1em; }
body.topic main nav form{
    display: inline;	
}

body.topic main h1{
    font-size: 24px;
    line-height: 1.2em;
    font-family: Georgia, serif;
    margin-top: 1em;
    margin-bottom: 0.4em;
}

@media screen and (min-width: 711.11px) { body.topic main h1{ font-size: 28px; } }

body.topic main h2{
    display: inline-block;
    vertical-align: middle;
    color: #666;
    background: #eee;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    border-radius: 3px;
    position: relative;
    top: -0.2em;
}

body.topic main div.wrap header h1{ max-width: 24em; }

body.topic main section h1{
    font: inherit;
    font-size: 18px;
    font-weight: 600;
    color: #107b7b;
}

body.topic main section p{ margin-bottom: 1em; }
    body.topic main  nav a,
    body.topic main nav button{
        display: block;
        color: #0064be;
        width: 100%;
        padding: 0.4em 0;
        margin: 0;
        border: none;
        border-bottom: 1px solid #eee !important;
        text-align: left;
        box-shadow: none;
    }
	
    body.topic main div.wrap nav a:hover,
    body.topic main div.wrap nav button:hover{
        background: #f8f8f8;
        color: #333;
        cursor: pointer;
    }



@media screen and (min-width: 711.11px) {
    body.topic main div.wrap header{
        padding-right: 208px;
        position: relative;
    }
	
    body.topic main div.wrap nav{
        position: absolute;
        right: 0;
        top: 0;
        width: 192px;
    }

    body.topic main div.wrap form{ display: block; }

	
}


/* @end */

/* @group body.proposal */



/* @group aside.form-nav */

aside.form-nav{
    font-size: 14px;
    padding-left: 16px;
    width: 224px;
    border: 1px solid #aaa;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 5px;
}
	
@media screen and (min-width: 640px) {
    aside.form-nav{
        border: none;
        position: absolute;
        top: 32px;
        right: 0;
        padding: 0 0 0 16px;
        margin: 0;
    }

}
	
aside.form-nav h1{
    font-size: 11px;
    text-transform: uppercase;
    font-family: Georgia;
    letter-spacing: 0.125em;
    word-spacing: 0.15em;
    color: #555;
    margin-bottom: 20px;
}
	
aside.form-nav nav.toc,
aside.form-nav a{
    color: #555;
}
	
	
aside.form-nav nav.toc ol li ol{ 
    border-left: 2px solid #eee;
}
	
aside.form-nav nav.toc ol li span,
aside.form-nav nav.toc ol li{
    padding: 0;
    margin: 0 0 6px;
    border: none;
    line-height: 1.2;
}
	
aside.form-nav span.toc-error-count{ display: none; }
	
aside.form-nav nav.toc ol li.is-incomplete,
aside.form-nav nav.toc ol li.is-complete,
aside.form-nav nav.toc ol li.is-error{
    padding-left: 20px;
    line-height: 16px;
}

aside.form-nav nav.toc ol li.is-incomplete::before,
aside.form-nav nav.toc ol li.is-complete::before,
aside.form-nav nav.toc ol li.is-error::before{
    width: 14px;
    height: 14px;
    top: 1px;		
}

aside.form-nav nav.toc ol li::after{
    left: 2px;
    top: 3px;
    width: 10px;
    height: 10px;
    background-size: 100%;
}

aside.form-nav nav.toc ol li.is-error::after{
    left: 3px;
    top: 4px;
    width: 8px;
    height: 8px;
}
	
aside.form-nav li.cover-sheet span{
    font-weight: 600;
    color: #606060;
}

aside.form-nav nav.toc li a.is-current{
    font-weight: 600;
    text-decoration: none;	
}
	
aside.form-nav ol ol{ padding-left: 0.8em;}
	
aside.form-nav div.form-nav-prev-next{ margin-top: 2em; }
aside.form-nav div.form-nav-prev-next::after{
    content: "";
    display: block;
    clear: both;
}
	
aside.form-nav div.form-nav-prev-next .form-nav-prev,
aside.form-nav div.form-nav-prev-next .form-nav-next{
    float: left;	
    border-color: #888;
    border-radius: 3px 0 0 3px;
    padding: 6px 8px;
    color: #555;
}
	
aside.form-nav div.form-nav-prev-next .form-nav-prev:hover,
aside.form-nav div.form-nav-prev-next .form-nav-next:hover{
    text-decoration: underline;
    background: inherit;
}
	
aside.form-nav div.form-nav-prev-next .is-disabled{
    border-color: #ccc;
    color: #aaa;
}
	
aside.form-nav div.form-nav-prev-next .is-disabled:hover{
    text-decoration: none;
}
	
aside.form-nav div.form-nav-prev-next .form-nav-next{
    border-radius: 0 3px 3px 0;
    border-left: none;
}
	
aside.form-nav div.form-nav-prev-next .form-nav-prev.is-disabled{
    border-right: none;
    cursor: default;
}
	
aside.form-nav div.form-nav-prev-next .form-nav-prev.is-disabled+.form-nav-next{
    border-left: 1px solid #aaa;
}
	

/* @end */


/* @end */

/* @group bigfoot */

body .bigfoot-footnote__button {
    padding: 0;
    border-radius: 99em;
    margin: 0 0 0 0.2em;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 19px;
    border: 1px solid #ccc;
    color: #fff;
    background: #2c628d;
    transition: none;
}

body .bigfoot-footnote__button:hover,
body .bigfoot-footnote__button:focus{
    background: #ddd;
    color: #333;
}

body .bigfoot-footnote__button:active {
    background: #2c628d;
    color: #111;
}
body .bigfoot-footnote__button svg{
    display: none;
}
body .bigfoot-footnote__button:before{
    content: "?";
}

body .bigfoot-footnote__button:after {
    content: '';
    display: table;
    clear: both;
}

.bigfoot-footnote__wrapper {
    width: 50em;
}

@media screen {	
    body.bigfoot section.footnotes{
        display: none;
    }	
}

/* @end */
