<section class="fieldset fieldset-radio">
  <h1><div marked="fieldName"></div></h1>
  <div class="field field-radio">
    <label>
      <input type="radio" ng-model="storage" id="{{element.name}}-yes" ng-click="apply()" value="true"> 
      <span class="label-text">Yes</span>
    </label>
  </div>
  <div class="field field-radio">
    <label>
      <input type="radio" ng-model="storage" id="{{element.name}}-no" ng-click="apply()"> 
      <span class="label-text">No</span>
    </label>
  </div>
  <div ng-show="validationstorage" class="text-danger"><p class="errortext">{{validationstorage}}</p></div>
</section>
