<div class="bool-question">
  <label class="question" for="{{element.name}}"><div marked="fieldName"></div></label>
    <label class="radio-inline">
      <input type="radio" ng-model="storage" id="{{element.name}}-yes" value="true"> Yes
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="storage" id="{{element.name}}-no" value="false"> No
    </label>
  <div ng-show="validationstorage" class="text-danger"><p class="errortext">{{validationstorage}}</p></div>
</div>
