<div class="field field-upload">
  <label>
    <span class="label-text">{{element.human}}</span>
    <input id="{{fieldToken}}" name="{{fieldToken}}" type="file" ng-file-select="onFileSelect($files)" size="40">
    <div class="sel-file" ng-repeat="f in selectedFiles">
      <label class="question" for="filename">
        <span class="label-text">File Name:</span>
        <input id="filename" class="form-control" ng-model="f.filename" type="text"></input>
      </label>
      <button type="button" ng-click="start($index)" ng-show="progress[$index] < 0">Upload</button>
    </div>
  </label>
</div>
