*.min.css
*.min.js
.webassets-cache/
.DS_Store
*.pyc
*.swp
main.css
node_modules
public
.tmp
.sass-cache
heroku
/views
dist
data_store
uploads
env
venv
.idea
bower_components
lib
.vagrant/
src/
data/*.json
*.log
Untitled*.ipynb
.floo*
*.wpr
*.wpu
.ipynb_checkpoints/
*.egg-info/
sbirez/media/*
afbirez/settings/credentials.py
data/
sbirez/migrations/
