Django>=1.7.4
psycopg2==2.6
ddlgenerator >=0.1.9
cssmin==0.2.0
jsmin==2.1.1
django-assets==0.10
djangorestframework
djangorestframework-jwt==1.2.0
django-rest-auth==0.3.4
git+https://github.com/djangonauts/djorm-ext-pgfulltext.git
django_extensions  # only for python manage.py shell_plus
django-custom-user==0.5
