body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.wrapper {
    font-size: 16px;

    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    # clear: both;
}

h1 {
  margin-bottom: 1em;
  margin-top: 1em;
}

h2 {
  margin-bottom: 0.8em;
  margin-top: 0.8em;
}

h3, h4, h5 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

dl {
    overflow: auto;
    margin-top: 0.8em;
}
dl dt, dl dd {
    float: left;
}
dl dt {
    clear: left;
    width: 23%;
    margin-right: 2%;
}
dl dt.line_item,dt.checkbox {
  text-decoration: underline;
}
dl dd {
    width: 75%;
    margin-left: 0;
}
.cost_volume dl dt {
  font-weight: bold;
}

div.numbered-question {
  overflow: auto;
  margin-top: 0.15em;
}
div.numbered-question div.question-number {
  clear: left;
  width: 6%;
  margin-right: 2%;
  float: left;
  min-height: 1px;
}
div.numbered-question div.question {
  width: 80%;
  margin-right: 2%;
  float: left;
}
div.numbered-question div.answer {
  width: 10%;
  margin-left: 0;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}
div.numbered-question div.question.text,div.question.long_str {
  font-weight: bold;
}
div.numbered-question div.answer.text,div.answer.long_str {
  clear: both;
  float: none !important;
  width: 100% !important;
  font-weight: normal !important;
  text-transform: none !important;
  margin-left: 6em !important;
  margin-right: 2em !important;
}

div.question div.answer {
  clear: both;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}

div.line_item {
  margin-bottom: 0.5em;
}
div.line_item div.question,div.answer {
  width: 40%;
  font-weight: normal;
  text-transform: none;
}

table {
  margin: 4em;
}

tr.total, tr.major-cost {
  margin-top: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

tr.subtotal {
  font-weight: bold;
}

th {
  text-align: left;
}

td, th {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}


.proposal-number {
  font-weight: bold;
  font-size: 140%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

dl dt.date-submitted {
  width: 70%;
  text-align: right;
}
dl dd.date-submitted {
  text-align: right;
  width: 20%;
}

div.due-date {
  font-weight: bold;
  width: 90%;
  text-align: right;
  margin-right: 0px;
}
