<div ng-controller="DocumentUploadCtrl">
  <input type="file" ng-file-select="onFileSelect($files)" multiple>
  <div ng-file-drop="onFileSelect($files)" class="drop-box" ng-file-drag-over-class="dragover" ng-show="dropSupported">Drag files here to upload.</div>
  <div ng-file-drop-available="dropSupported=true" />
  <div ng-show="selectedFiles != null">
    <div class="sel-file" ng-repeat="f in selectedFiles">
      <div class="list-group" ng-include="'static/views/partials/documentUploadEdit.html'" onload="initialize(f, $index)" ng-controller="DocumentUploadEditCtrl as docUploadEditCtrl">
      </div>
      <button type="button" ng-click="start($index)" ng-show="progress[$index] < 0">Start</button>
      <span class="progress" ng-show="progress[$index] >= 0">
        <div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
      </span>
    </div>
  </div>
</div>
