<div ng-controller="DocumentCtrl">
  <h2>{{data.name}}</h2>
  <a ng-href="api/documents/{{data.id}}?file&jwt={{jwt}}" target="_blank">Download</a>  
  <p>{{data.uploaded | date:'yyyy-MM-dd HH:mm:ss Z' }}</p>
  <p>{{data.description}}</p>
  <h2>Proposals</h2>
  <p ng-repeat="proposal in data.proposals"><a href="proposal/{{proposal.id}}">{{proposal.name</a>}}i</a></p>
  <h2>Keywords</h2>
  <p ng-repeat="keyword in data.keywords">{{keyword}}</p>
  <h2>Changelog</h2>
  <p ng-repeat="change in data.changelog">{{change}}</p>
  <button ng-click="remove()">Remove</button>
  <button ng-click="save()">Save</button>
</div>
