<div ng-controller="SearchCtrl">
  <p>Enter a search term:</p>
  <div class="row">
    <div class="col-md-7">
      <div class="input-group">
        <input type="text" ng-model="searchTerm" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" ng-click="search()" type="button">Search</button>
        </span>
      </div>
    </div>
    <div ng-hide="simpleMode" class="col-md-3">
      <button class="btn btn-default" type="button">Advanced Search Options</button>
    </div>
    <div ng-hide="simpleMode" class="col-md-2">
      <button class="btn btn-default pull-right" type="button">Start Over</button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <div ng-show="results.docs && results.docs.numFound > 0"
        <p>{{results.docs.numFound}} Results</p>
      </div>
    </div>
    <div ng-hide="simpleMode" class="col-md-3 col-md-offset-7">
      <p class="text-right"><em><a href="#">Save this search >>></a></em></p>
    </div>
  </div>
  <div ng-hide="simpleMode" class="row">
    <div class="col-md-6">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default btn-sm active">
          <input type="radio">All Opportunities
        </label>
        <label class="btn btn-default btn-sm">
          <input type="radio">Open Opportunities
        </label>
        <label class="btn btn-default btn-sm">
          <input type="radio">Pre-Releases
        </label>
      </div>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <select class="form-control">
        <option>Newest first</option>
        <option>Closing soon first</option>
      </select>
    </div>
  </div>
  <br/>
  <div ng-repeat="topic in results.docs" class="row">
    <div class="col-md-9">
      <h4><a href="{{topic.listing_url}}">{{topic.title}}</a></h4>
      <p>{{topic.description|truncate:500}}<span ng-if="topic.description.length > 500"><a href="{{topic.listing_url}}">MORE >>></a></span></p>
      <button class="btn btn-default btn-sm pull-right" type="button">Save for later</button>
    </div>
  </div>
  <div class="row">
    <div ng-if="results && itemCount > 0" class="col-md-9">
      <pagination ng-attr-current-page="{{currentPage}}" ng-attr-item-count="{{itemCount}}" ng-attr-items-per-page="{{itemsPerPage}}" ng-attr-method="search" />
    </div>
  </div>
</div>
