/** 
 * Sticky footer 
 * http://getbootstrap.com/examples/sticky-footer-navbar/
 **/

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom; 60px;
}
body > .container {
    padding: 60px 15px 60px;
}
footer {
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
}
.container .credit {
  margin: 20px 0;
}
.container .credit-xs {
  margin: 12px 0;
}
