{% extends "layouts/base.html" %}
{% from "security/macros.html" import render_security_form_group as render_field %}

{% block css %}
  {{ super() }}
  <style>
    .top-buffer {
      padding-top: 40px;
    }
    .well {
      margin-top: 10px;
    }
    .form-social {
      margin-top: 10px;
    }
    .security-content {
      max-width: 380px;
      padding: 15px;
    }
    .well > hr {
      border-top: 1px solid #676767;
    }
    .form-control-feedback {
      top: 35px;
    }
    .checkbox label {
      margin-bottom: 15px;
    }
  </style>
{% endblock %}

{% block js_btm %}
  {{ super() }}
  <script>
    $('.input-popover').popover();
  </script>
{% endblock %}