{% extends "security/base.html" %}

{% block body %}
  <div class="top-buffer hidden-xs"></div>
  <div class="alert alert-warning col-md-6 col-md-offset-3">
    Reset instructions will be sent to your registered email address. 
  </div>
  <div class="top-buffer hidden-xs"></div>
  <div class="row">
    <div class="security-content center-block">
      <h2>Reset Password</h2>
      <hr>
      <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
        {{ forgot_password_form.hidden_tag() }}
        {{ render_field(forgot_password_form.email) }} 
        {{ forgot_password_form.submit(class="btn btn-lg btn-primary btn-block") }}
      </form>
    </div>
  </div>
{% endblock %}