{% macro list_of_errors(errors) %}
  {% for error in errors %}
    {{error}}
  {% endfor %}
{% endmacro %}

{% macro render_security_form_group(field, cls="", direction='right') %}
  <div class="form-group {% if field.errors %}has-error has-feedback{% endif %} {{ cls }}">
    {{ field.label(class='control-label') }}
    {{ render_input_field_with_popover_errors(field) }}
  </div>
{% endmacro %}

{% macro render_input_field_with_popover_errors(field, cls="", direction='right', ignore_errors=False) %}
  {% if field.errors and not ignore_errors%}
    {{ field(class='form-control input-popover ' ~ cls, **{
    'data-toggle': 'popover', 
    'data-trigger': 'hover',
    'data-placement': direction,
    'data-container': 'body',
    'data-content': list_of_errors(field.errors)|escape,
    })|safe }}
    <i class="fa fa-warning form-control-feedback"></i>
  {% else %}
    {{ field(class_='form-control ' ~ cls)|safe }}
  {% endif %}
{% endmacro %}

{% macro submit_button(text=None, class='') -%}
<button type="submit" class="btn btn-default {{ class }}">{% if text %}{{ text }}{% else %}Submit{% endif %}</button>
{% endmacro %}