{% extends "security/base.html" %}

{% block body %}
<div class="spacer hidden-xs"></div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <form class="form well" role="form" method="POST" action="{{ url_for('security.register') }}" id="register_form">
        {{ register_user_form.hidden_tag() }}
        {{ render_field(register_user_form.email) }}
        {{ render_field(register_user_form.password) }}
        {% if register_user_form.password_confirm %}
        {{ render_field(register_user_form.password_confirm) }}
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register Now</button>
        </form>
    </div>
</div>
<div class="spacer hidden-xs"></div>
{% endblock %}

{% block js_btm %}
{{ super() }}
<script>
    $('.input-popover').popover();
</script>
{% endblock %}