<main role="main">
  <div class="wrap">
    <form>
      <h1>Firm Information</h1>
      <h2>Basics</h2>
      <label for="firmName" class=""><span class="label-text">Firm Name:</span>
        <input type="text" class="" id="firmName" ng-model="firm.name">
      </label>
      <label for="firmstreet" class=""><span class="label-text">Street:</span>
        <input type="text" class="" id="firmstreet" ng-model="firm.address.street">
        <input type="text" class="" id="firmstreet2" ng-model="firm.address.street2">
      </label>
      <label for="firmcity" class=""><span class="label-text">City:</span>
        <input type="text" class="form-control" id="firmcity" ng-model="firm.address.city">
      </label>
      <label for="firmstate" class=""><span class="label-text">State:</span>
        <select id="firmstate" class="form-control" ng-model="firm.address.state" size="1">
          <option value="">Please Select State</option>
          <option value="AL">Alabama</option><option value="AK">Alaska</option><option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option><option value="CA">California</option><option value="CO">Colorado</option>
          <option value="CT">Connecticut</option><option value="DE">Delaware</option><option value="DC">Dist of Columbia</option>
          <option value="FL">Florida</option><option value="GA">Georgia</option><option value="HI">Hawaii</option>
          <option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option>
          <option value="IA">Iowa</option><option value="KS">Kansas</option><option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option><option value="ME">Maine</option><option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option><option value="MI">Michigan</option><option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option><option value="MO">Missouri</option><option value="MT">Montana</option>
          <option value="NE">Nebraska</option><option value="NV">Nevada</option><option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option><option value="NM">New Mexico</option><option value="NY">New York</option>
          <option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option><option value="OR">Oregon</option><option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option><option value="TX">Texas</option><option value="UT">Utah</option>
          <option value="VT">Vermont</option><option value="VA">Virginia</option><option value="WA">Washington</option>
          <option value="WV">West Virginia</option><option value="WI">Wisconsin</option><option value="WY">Wyoming</option>
        </select>
      </label>
      <label for="firmzip" class=""><span class="label-text">Zip:</span>
        <input type="text" class="" id="firmzip" ng-model="firm.address.zip">
      </label>
      <label for="firmwebsite" class=""><span class="label-text">Web Site:</span>
          <input type="text" class="" id="firmwebsite" ng-model="firm.website">
      </label>

      <h2>Identifiers</h2>
      <label for="firmtaxid" class=""><span class="label-text">Federal Tax ID:</span>
        <input type="text" class="" id="firmtaxid" ng-model="firm.tax_id">
      </label>
      <label for="firmsbaid" class=""><span class="label-text">SBA SBC ID Number:</span>
        <input type="text" class="" id="firmsbaid" ng-model="firm.sbc_id">
      </label>
      <label for="firmduns" class=""><span class="label-text">DUNS Number:</span>
        <input type="text" class="" id="firmduns" ng-model="firm.duns_id">
      </label>
      <label for="firmcagecode" class=""><span class="label-text">CAGE Code:</span>
          <input type="text" class="form-control" id="firmcagecode" ng-model="firm.cage_code">
      </label>
<!--    <div class="form-group">
        <label for="firmsic" class="control-label col-md-2">SIC Codes:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="firmsic" ng-model="firm.sic">
        </div>
      </div>
      <div class="form-group">
        <label for="firmnaics" class="control-label col-md-2">NAICS:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="firmnaics" ng-model="firm.naics">
        </div>
      </div>
-->   

      <h2>Point Of Contact</h2>
      <label for="firmpocname" class=""><span class="label-text">Name:</span>
        <input type="text" class="" id="firmpocname" ng-model="firm.point_of_contact.name">
      </label>
      <label for="firmpocemail" class=""><span class="label-text">E-mail:</span>
        <input type="text" class="" id="firmpocemail" ng-model="firm.point_of_contact.email">
      </label>
      <label for="firmpocphone" class=""><span class="label-text">Phone Number:</span>
        <input type="text" class="" id="firmpocphone" ng-model="firm.point_of_contact.phone">
      </label>
      <label for="firmpocfax" class=""><span class="label-text">Fax Number:</span>
        <input type="text" class="" id="firmpocfax" ng-model="firm.point_of_contact.fax">
      </label>

      <h2>Background</h2>
      <label for="firmfoundingyear" class=""><span class="label-text">1) The year your company was founded:</span>
        <input type="text" class="" id="firmfoundingyear" ng-model="firm.founding_year">
      </label>
      <p>2) How many SBIR and/or STTR awards has your firm received from the Federal Government (including DoD)? (The answer "0" will not affect your ability to obtain an SBIR award.):</p>
      <label for="firmphase1count" class=""><span class="label-text">Phase I:</span>
        <input type="text" class="" id="firmphase1count" ng-model="firm.phase1_count">
      </label>
      <label for="firmphase1year" class=""><span class="label-text">What year did you receive your first Phase I Award?</span>
        <input type="text" class="" id="firmphase1year" ng-model="firm.phase1_year">
      </label>
      <label for="firmphase2count" class=""><span class="label-text">Phase II:</span>
        <input type="text" class="" id="firmphase2count" ng-model="firm.phase2_count">
      </label>
      <label for="firmphase2year" class=""><span class="label-text">What year did you receive your first Phase II Award?</span>
        <input type="text" class="" id="firmphase2year" ng-model="firm.phase2_year">
      </label>
      <p>3) Number of firm employees (including all affiliates):</p>
      <label for="firmemployeesphase2" class=""><span class="label-text">(a) At the time of your firm's first Phase 2 Award:</span>
        <input type="text" class="" id="firmemployeesphase2" placeholder="" ng-model="firm.phase2_employees">
      </label>
      <label for="firmemployeesphase2" class=""><span class="label-text">(b) Currently:</span>
        <input type="text" class="form-control" id="firmemployeesnow" placeholder="" ng-model="firm.current_employees">
      </label>
      <p for="firmipo" class=""><span class="label-text">4) Has your firm successfully completed an Initial Public Offering ("IPO") of stock since receiving its first Phase 2 award that was the result, in part, of technology your firm developed under the Federal SBIR and/or STTR programs?</span></p>
      <label class="">
        <input type="radio" ng-model="firm.ipo_completed" id="firmipoyes" value="true"><span class="label-text">Yes</span>
      </label>
      <label class="">
        <input type="radio" ng-model="firm.ipo_completed" id="firmipono" value="false" checked="checked"><span class="label-text">No</span>
      </label>
      <label for="firmpatents" class=""><span class="label-text">5) How many patents have resulted, at least in part, from your firm's SBIR andd/or STTR awards?</span>
        <input type="text" class="" id="firmpatents" ng-model="firm.patent_count">
      </label>
      <label for="firmtotalrevenue" class=""><span class="label-text">6) Your firm's total revenue for the last fiscal year:</span>
        <select id="firmtotalrevenue" class="" ng-model="firm.total_revenue_range">
          <option value="">Please select a value</option>
          <option value="<$100,000">&lt;$100,000</option>
          <option value="$100,000-$499,999">$100,000-$499,999</option>
          <option value="$500,000-$999,999">$500,000-$999,999</option>
          <option value="$1,000,000-$4,999,999">$1,000,000-$4,999,999</option>
          <option value="$5,000,000-$19,999,999">$5,000,000-$19,999,999</option>
          <option value="$20,000,000-$99,999,999">$20,000,000-$99,999,999</option>
          <option value="$100,000,000+">$100,000,000+</option>
        </select>
      </label>
      <label for="firmrevenuepercent" class=""><span class="label-text">7) What percentage of your firm's revenues during its last fiscal year is Federal SBIR and/or STTR funding (Phase I and/or Phase II)?</span>
        <input type="text" class="" id="firmrevenuepercent" ng-model="firm.revenue_percent">
      </span>
      <button type="submit" class="btn btn-primary" ng-click="updateFirm()">Update</button>
    </form>
  </div>
</main>
