<div>
  <p class="header-text">Documents</p>
  <p>You currently have <strong>{{docList.length}} documents.</strong></p>
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th>Description</th>
    <tr>
    <tbody>
      <tr ng-repeat="doc in docList">
        <td><a ui-sref="app.activity.documents.detail({id: {{doc.id}}})">{{doc.name}}</a></td>
        <td>{{doc.description}}</td>
        <td>{{doc.updated_at | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>
</div>
