<div ng-if="data.name">
  <h2>{{data.name}}</h2>
  <a ng-href="api/documents/{{data.id}}?file&jwt={{jwt}}" target="_blank">Download</a>  
  <form ng-submit="save()">
    <p ng-show="errorMsg" class="bg-danger">{{errorMsg}}</p>
    <p ng-show="updated" class="bg-success">Document successfully updated.</p>
    <p>Uploaded: {{data.created_at | date}}</p>
    <textarea ng-model="data.description" class="form-control" placeholder="Please add a description of the file."></textarea>
    <h2>Attached to Proposals</h2>
      <div ng-repeat="proposal in proposals">
        <a href="/app/proposals/{{proposal.id}}">{{proposal.title}}</a>
      </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-warning" ng-click="remove()">Remove</button>
  </form>
</div>
<div ng-if="!data.name">
  <h1>File not found</h1>
</div>
