<div ng-if="data.name">
  <p class="header-text">{{data.name}}</p>
  <a ng-href="api/v1/documents/{{data.id}}/file/?jwt={{jwt}}" target="_self">Download</a>
  <form ng-submit="save()">
    <p ng-show="errorMsg" class="bg-danger">{{errorMsg}}</p>
    <p ng-show="updated" class="bg-success">Document successfully updated.</p>
    <p>Last Updated: {{data.updated_at | date:'medium' }}</p>
    <p>Description:</p>
    <textarea ng-model="data.description" class="form-control" placeholder="Please add a description of the file."></textarea>
    <p class="topic-header-text">Attached to Proposals</p>
    <div ng-repeat="proposal in proposals | orderObjectBy:'updated_at'">
      <a href="/app/proposals/{{proposal.id}}">{{proposal.title}}</a>
    </div>
    <p class="topic-header-text">Versions</p>
    <div ng-repeat="version in versions | orderObjectBy:'id'">
      <p>{{version.updated_at | date:'medium' }} <a ng-href="api/v1/documentversions/{{version.id}}/file/?jwt={{jwt}}" target="_self">Download</a> {{version.note}}</p>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <button type="button" class="btn" ng-click="remove()">Remove File</button>
  </form>
</div>
<div ng-if="!data.name">
  <h1>File not found</h1>
</div>
