<div ng-controller="DocumentUploadEditCtrl as doc">
  <div class="list-group-item">
    <form ng-submit="save()">
      <input type="text"
             ng-model="name"
             class="form-control"
             placeholder="Name"></input>
      <input type="text"
             ng-model="description" 
             class="form-control" 
             placeholder="Please add a description of the file."></input>
      <div ng-show="availableProposals.length > 0">
        <select class="form-control" ng-model="selectedProposal">
          <option disabled selected>Please select a proposal</option>
          <option ng-repeat="proposal in availableProposals">{{proposal.name}}</option>
        </select>
      </div>
      <div ng-show="keywords.length > 0">
        <button type="button" ng-repeat="keyword in keywords" class="btn btn-info btn-xs" ng-click="removeKeyword(keyword)">{{keyword}}&nbsp;<span class="glyphicon glyphicon-remove"></span></button>
      </div>
      <input type="text" placeholder="Add keyword" ng-model="newKeyword">
      <button type="button" class="btn btn-info btn-xs" ng-click="addKeyword()">Add</button>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-warning" ng-click="cancelUpload()">Cancel</button>
    </form>
  </div>
</div>
