<header id="header" role="banner" class="header banner">
  <div class="wrap">
    <h1><a href="/"><span class="icon-logo"></span>SBIR-EZ</a></h1>
    <form ng-submit="search()">
      <div class="field">
        <label for="header-query">
          <span class="label-text">Query</span>
          <input type="text" id="header-query" name="query" ng-model="query" value="" />
        </label>
      </div>
      <footer>
        <input type="submit" class="button" value="Search" />
      </footer>
    </form>
    <nav class="primary">
      <a class="{{::item.class}}" ng-repeat="item in menu" ng-click="item.click()" href="{{::item.link}}">{{::item.title}}</a>
    </nav>
  </div>
  <div class="notification" ng-show="warning">
    <div class="wrap">Your password will expire in {{expiration_days}}. <a ui-sref="app.user">Click here</a> to change it.</div>
  </div>
</header>
