<header id="header" role="banner" class="header banner">
  <div class="wrap">
    <h1><span class="icon-logo"></span>SBIR-EZ</h1>
    <form ng-submit="search()">
      <div class="field">
        <label>
          <span class="label-text">Query</span>
          <input type="search" id="query" name="query" ng-model="query" value="" />
        </label>
      </div>
    </form>
    <nav class="primary">
      <a class="{{item.title}}" ng-repeat="item in menu" ng-click="item.click()" href="{{item.link}}">{{item.title}}</a>
    </nav>
  </div>
</header>
