<main role="main">
  <div class="wrap">
    <h1>Tell us about your company now?</h1>
    <p>Before you can submit a proposal on a solicitation, you&rsquo;ll need to tell us a little bit about your company. You can do that at any time by clicking <a ui-sref="app.account.organization">My Company</a> in the header.</p>
    <footer>
      <a ui-sref="app.account.organization" class="button">Let&rsquo;s setup my company</a>
      <div>
        <a ui-sref="app.proposals.list" aria-describedby="first-proposal-reminder">I&rsquo;ll do this later</a>
        <p id="first-proposal-reminder">(We&rsquo;ll check for this information as you submit your first proposal.)</p>          
      </div>
    </footer>
  </div>
</main>
