<div>
  <p class="header-text">Your Proposals</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Proposal Title</th>
        <th>Started</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="prop in proposalList">
        <td><a ui-sref="app.activity.proposals.detail({id:{{prop.id}}})">{{prop.title}}</a></td>
        <td>{{prop.submitted_at | date:'medium'}}</td>
        <td>
          <button class="btn btn-default btn-sm" ui-sref="app.activity.proposals.detail({id: prop.id})" title="Edit Proposal" type="button">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
