<div class="proposal-progress-report">
  <header class="proposal-banner">
    <div class="wrap">
      <h1>{{proposal.title}}</h1>
    </div>
  </header>

  <main class="proposal-content">
    <div class="wrap">
      <section>
        <h1 class="primary-header">Overview</h1>
        <p>Proposals are comprised of four parts, listed below. We&rsquo;ll help you submit your proposal by filling out the necessary paperwork, one step at a time.</p>
        <ol>
          <li ng-repeat="element in workflow.children">
            <a href="#" ui-sref="app.proposals.detail({id: proposalId, current: element.id})">
              {{element.human}}
            </a>
            <ol ng-if="element.children.length > 0">
              <li ng-if="child.element_type === 'group'" ng-repeat="child in element.children">
                <a href="#" ui-sref="app.proposals.detail({id: proposalId, current: child.id})">
                  {{child.human}}
                </a>
              </li>
            </ol>
          </li>
        </ol>
        <button type="button" id="start" ui-sref="app.proposals.detail({id: proposalId, current: goodStartWorkflow})">Get started</button>
        <button type="button" id="validate_state" ng-click="validate()">Verify this proposal</button>          
      </section>
      <aside>
        <h1><span class="technical-point">Technical point</span><span class="preposition">of</span> contact</h1>
        <span>Dr. Soandso McSmartpants</span>
        <span>1-888-222-2222</span>
        <span>test@email.com</span>
      </aside>
    </div>
  </main>
  <footer class="proposal-footer">
    <div class="wrap">
      <div topic="proposal.topic" view-details="true" save-option="true"></div>
      <button class="button-remove" ng-click="delete()">Delete this proposal</button>
    </div>
  </footer>  
</div>
