<main role="main">
  <div class="wrap">
    <form role="form">
      <h1>Reset your password</h1>
      <p>We will send a password reset link to the email address below:</p>
      <div class="field" ng-class="{'is-error':errorMsg}">
        <label>
          <span class="label-text">Email address</span>
          <input type="email" ng-model="email" required>
        </label>
        <span ng-show="errorMsg" class="error-message">{{errorMsg}}</span>
      </div>
      <footer>
        <button ng-hide="successMsg" class="button" ng-click="reset()" type="submit">Reset</button>
        <p ng-show="successMsg">{{successMsg}}</p>
      </footer>
    </form>
  </div>
</main>