<div ng-controller="SavedOppsCtrl">
<p class="header-text">Saved Opportunities</p>
<div ng-show="data.results && data.results.count === 0">
  <p>No Saved Opportunities Found</p>
</div>
<div ng-repeat="topic in data.results" class="row">
  <div class="col-md-9">
    <p class="topic-header-text"><a href="topic/{{topic.id}}">{{topic.topic_number}}: {{topic.title}}</a></p>
    <p>{{topic.description|truncate:500}}<span ng-if="topic.description.length > 500"><a href="topic/{{topic.id}}" title="More about {{topic.topic_number}}">More >>></a></span></p>
    <button class="btn btn-default btn-sm" ng-click="removeOpportunity(topic.id)" title="Remove {{topic.topic_number}}" type="button">Remove Topic</button>
    <hr />
  </div>
</div>
</div>
