<main class="h-feed">
  <div class="wrap">
    <div ng-show="results && numFound === 0 && searchTerm === ''">
      <h1 class="primary-header">Enter a search term above to get started.</h1>
    </div>
    <div ng-show="results && results.results && numFound > 0">
      <header aria-live="polite">
        <h1 class="p-name primary-header">Topics matching {{searchTerm}}</h1>
        <div ng-if="results.results && numFound > itemCount">
          <pagination ng-attr-current-page="{{currentPage}}" ng-attr-item-count="{{numFound}}" ng-attr-items-per-page="{{itemsPerPage}}" ng-attr-method="search" />
        </div>
      </header>
    </div>
    <div ng-show="results && results.results && numFound === 0">
      <h1 class="primary-header">No Results for <span class="query">{{searchTerm}}</span></h1>
      <p>We couldn&rsquo;t find any topics matching your search term.</p>
    </div>
    <div ng-repeat="topic in results.results">
      <div topic="topic" ng-show="topic.id" id="topic.topic_number" view-details="true" save-option="true" create-option="true"></div>
    </div>
    <div ng-if="results.results && numFound > itemCount">
      <pagination ng-attr-current-page="{{currentPage}}" ng-attr-item-count="{{numFound}}" ng-attr-items-per-page="{{itemsPerPage}}" ng-attr-method="search" />
    </div>
  </div>
</main>
