<main role="main" id="sbir-main">
  <div class="wrap">
    <form role="form">
      <h1>Sign in</h1>
      <div class="field" ng-class="{'is-error': errorEmail}">
        <label>
          <span class="label-text">Email address</span>
          <input type="email" ng-model="email">
        </label>
        <span ng-show="errorEmail" class="error-message">{{errorEmail}}</span>
      </div>
      <div class="field field-password" ng-class="{'is-error': errorPassword}">
        <label>
          <span class="label-text">Password</span>
          <input type="password" ng-model="password">
        </label>
        <span ng-show="errorPassword" class="error-message">{{errorPassword}}</span>
      </div>
      <div ng-show="errorMsg" class="field is-error">
        <span class="error-message">{{errorMsg}}</span>
      </div>
      <footer>
        <button class="button" ng-click="logIn()">Sign in</button>
        <a ui-sref="reset" class="sign-in-reset">Forgot your password?</a>
        <p>Need an account? <a ui-sref="signup(intention)">Sign up</a></p>
      </footer>
    </form>
  </div>
</main>
