<main class="topic">
  <div class="wrap">
    <div ng-show="errorMsg"> 
      <h2 class="text-center text-danger">{{errorMsg}}</h2>
      <p class="text-center"><a href="/">Search</a> for topics from our <a href="/">Home</a> page.</a>
    </div>
    <a class="a-return" ng-click="back()" href="#">Back to search results</a>
    <header class="topic-header">
      <h1>{{data.title}}</h1>
      <h2>{{data.program}} {{data.topic_number}}</h2>
      <nav class="topic-nav">
        <span ng-if="data.saved">
          <a href="#" ng-hide="data.proposal" ng-click="createProposal()" title="Start Proposal for {{data.topic_number}}">Start a proposal</a>
          <a href="#" ng-show="data.proposal" ui-sref="app.proposals.report({id: data.proposal})" title="Goto Proposal for {{data.topic_number}}">View proposal</a>
        </span>
        <a href="#" ng-hide="data.saved" ng-click="saveOpportunity()" title="Save {{data.topic_number}} for later">Add to my topics</a>
        <a href="#" ng-show="data.saved" ng-click="removeOpportunity()" title="Remove {{data.topic_number}}">Remove from my topics</a>
      </nav>
    </header>
    <section ng-show="data.objective" class="topic-objective">
      <h1>Objective</h1>
      <p>{{data.objective}}</p>
    </section>
    <section class="topic-area">
      <h1>Research &amp; Technical Areas</h1>
      <p ng-repeat="area in data.areas">{{area.area}}</p>
    </section>
    <section class="topic-description">
      <h1>Description</h1>
      <p>{{data.description}}</p>
      <p ng-repeat="phaseObj in data.phases | orderObjectBy:'phase'">{{phaseObj.phase}}</p>
    </section>
    <section class="topic-references">
      <h1>References</h1>
      <ol>
        <li ng-repeat="referenceObj in data.references | orderObjectBy:'reference'">{{referenceObj.reference}}</li>
      </ol>
    </section>
    <section class="topic-keywords">
      <h1>Keywords</h1>
      <p>{{getKeywordList()}}</p>
    </section>
    <dl>
      <dt>Solicitation ID:</dt>        
      <dd>{{data.solicitation.name}}</dd>
      <dt>Pre-Release Date:</dt>
      <dd>{{data.solicitation.pre_release_date | date}}</dd>
      <dt>Proposal Submission Begin Date:</dt>
      <dd>{{data.solicitation.proposals_begin_date | date }}</dd>
      <dt>Proposal Submission End Date:</dt>
      <dd>{{data.solicitation.proposals_end_date | date }}</dd>
    </dl>
  </div>
</div>
