<article id="topic.topic_number" ng-show="topic.id" class="topic h-entry" ng-class="{'is-favorite': topic.saved === true}">
  <a ui-sref="topic({id:topic.id})" class="topic-content">
    <h1>{{::topic.title}}</h1>
    <h2>{{::topic.topic_number}}</h2>
    <p class="entry-summary">{{::topic.description|truncate:500}}</p>
  </a>
  <nav class="topic-nav">
    <span ng-if="viewDetails">
      <a ui-sref="topic({id:topic.id})">View details</a>
    </span>
    <span ng-if="createOption && topic.saved">
      <a href="#" ng-hide="topic.proposal" ng-click="createProposal()" title="Start Proposal for {{::topic.topic_number}}">Start a proposal</a>
      <a href="#" ng-show="topic.proposal" ui-sref="app.proposals.report({id: topic.proposal})" title="Goto Proposal for {{::topic.topic_number}}">View proposal</a>
    </span>
    <span ng-if="saveOption">
      <a href="#" ng-hide="topic.saved" ng-click="saveOpportunity()" title="Save {{::topic.topic_number}} for later">Add to my topics</a>
      <a href="#" ng-show="topic.saved" ng-click="removeOpportunity()" title="Remove {{::topic.topic_number}}">Remove from my topics</a>
    </span>
  </nav>
</article>
