<article id="topic.topic_number" class="topic h-entry" ng-class="{'is-favorite': topic.saved === true}">
  <a ui-sref="topic({id:topic.id})" class="topic-content">
    <h1>{{topic.title}}</h1>
    <h2>{{topic.topic_number}}</h2>
    <p class="entry-summary">{{topic.description|truncate:500}}</p>
  </a>
  <nav>
    <span ng-if="saveOption">
      <button ng-hide="topic.saved" ng-click="saveOpportunity()" title="Save {{topic.topic_number}} for later" type="button">Add to my topics</button>
      <button ng-show="topic.saved" ng-click="removeOpportunity()" title="Remove {{topic.topic_number}}" type="button" class="button-remove">Remove from my topics</button>
    </span>
    <span ng-if="removeOption">
      <button ng-show="removeOption" ng-click="removeOpportunity()" title="Remove {{topic.topic_number}}" type="button" class="button-remove">Remove from my topics</button>
    </span>
    <span ng-if="createOption">
      <button ng-show="topic.proposal_id" ui-sref="app.proposals.report({id: topic.proposal_id})" title="Goto Proposal for {{topic.topic_number}}" type="button">View Proposal</button>
      <button ng-hide="topic.proposal_id" ng-click="createProposal()" title="Create Proposal for {{topic.topic_number}}" type="button">Create Proposal</button>
    </span>
  </nav>
</article>
