<div class="wrap">
  <div ng-show="errorMsg"> 
    <h2 class="text-center text-danger">{{errorMsg}}</h2>
    <p class="text-center"><a href="/">Search</a> for topics from our <a href="/">Home</a> page.</a>
  </div>

  <div>
    <h1>{{data.title}}</h1>
    <h2>{{data.program}} {{data.topic_number}}</h2>
    <center><a href="{{data.url}}">{{data.url}}</a></center>
    <div ng-hide="data.saved">
      <button class="btn btn-default btn-sm pull-right" ng-click="saveOpportunity()" title="Save {{topic.topic_number}} for later" type="button">Save for later</button>
    </div>
    <div ng-show="data.saved">
      <button class="btn btn-disabled btn-sm pull-right" disabled title="{{topic.topic_number}} is saved" type="button">Saved</button>
    </div>
    <p ng-show="data.objective">{{data.objective}}</p>
    <div ng-show="data.areas">
      <h1>Research &amp; Technical Areas</h1>
      <ul>
        <li ng-repeat="area in data.areas">{{area.area}}</li>
      </ul>
    </div>
    <div ng-show="data.acquisition_program">
      <h1>Acquisition Program:</h1>
        <p>{{data.acquisition_program}}</p>
    </div>
    <div ng-show="data.description">
      <h1>Description</h1>
      <p>{{data.description}}</p>
    </div>
    <div ng-show="data.phases && data.phases.length > 0" class="row">
      <p ng-repeat="phaseObj in data.phases | orderObjectBy:'phase'">{{phaseObj.phase}}</p>
    </div>
    <div ng-show="data.references && data.references.length > 0" class="row">
      <h1>References:</h1>
      <p ng-repeat="referenceObj in data.references | orderObjectBy:'reference'">{{referenceObj.reference}}</p>
    </div>
    <div ng-show="data.keywords && data.keywords.length > 0" class="row">
      <div class="col-md-3">
        <p class="text-right"><strong>Keywords:</strong></p>
      </div>
      <div class="col-md-9">
        {{getKeywordList()}}
      </div>
    </div>
    <div ng-show="data.solicitation.name">
      <h1>Solicitation ID:</h1>
      {{data.solicitation.name}}
    </div>
    <div ng-show="data.solicitation.pre_release_date">
      <h1>Pre-Release Date</h1>
      {{data.solicitation.pre_release_date | date}}
    </div>
    <div ng-show="data.solicitation.proposals_begin_date">
      <h1>Proposal Submission Begin Date:</h1>
      {{data.solicitation.proposals_begin_date | date }}
    </div>
    <div ng-show="data.solicitation.proposals_end_date" class="row">
      <h1>Proposal Submission End Date:</h1>
      {{data.solicitation.proposals_end_date | date}}
    </div>
  </div>
</div>