<div>
  <div class="row">
    <p class="header-text">{{currentWorkflow.human}}</p>
    <div ng-repeat="element in currentWorkflow.children">
      <div class="workflow-element" ng-if="element.element_type === 'str' || element.element_type === 'med_str' || element.element_type === 'short_str' || element.element_type === 'phone' || element.element_type === 'email' || element.element_type === 'int'  || element.element_type === 'dollars' || element.element_type === 'float' || element.element_type === 'percentage'">
        <div str="element" storage="proposalData[element.name]"></div>
      </div>
      <div class="workflow-element" ng-if="element.element_type === 'text'">
        <div text="element" storage="proposalData[element.name]"></div>
      </div>
      <div class="workflow-element" ng-if="element.element_type === 'bool'">
        <div bool="element" storage="proposalData[element.name]"></div>
      </div>
      <div class="workflow-element subworkflow" ng-if="element.element_type === 'workflow' || element.element_type === 'group'">
        <div group="element" method="jumpTo" ></div>
      </div>
      <div class="workflow-element" ng-if="element.element_type === 'line_item'">
        <div lineitem="element" proposal="{{proposalId}}" storage="proposalData[element.name]"></div>
      </div>
      <div class="workflow-element" ng-if="element.element_type === 'file_upload'">
        <div upload="element" proposal="{{proposalId}}" storage="proposalData[element.name]"></div>
      </div>
    </div>
    <hr />
    <div class="row">
      <button type="button" id="start" class="btn btn-success" ng-click="jumpTo(startingWorkflow)">Start</button>
      <button ng-if="showBackButton()" class="btn btn-default" type="button" id="prior_state" ng-click="jumpTo(backWorkflow)">Back</button>
      <button ng-if="showNextButton()" class="btn btn-default" type="button" id="next_state" ng-click="jumpTo(nextWorkflow)">Continue</button>
      <button type="button" id="save_state" class="btn btn-primary pull-right" ng-click="saveData()">Save</button>
    </div>
  </div>
</div>
