{% extends "layouts/h5bp.html" %}
{% import "bootstrap/macros.html" as bootstrap %}  

{% block css  %}{% endblock %}

{% block header %}
  {% include "layouts/header.html" ignore missing %}
{% endblock %}

{% block contents %}
  <div class="container">
    {% block flash_messages %}
      <div id="flash-message-container">
        {{ bootstrap.flash_messages() }}
      </div>
    {% endblock %}
    {% block body %}{% endblock %}
  </div>
{% endblock %}

{% block footer %}
  {% include "layouts/footer.html" ignore missing %}
{% endblock %}                                                                                            

{% block js %}{% endblock %}