<footer>
  <div class="container">
    <p class="text-muted credit hidden-xs">2014-2015, 18F - 
      <a data-pjax href="{{ url_for('LegalView:terms_of_use') }}">Terms of Use</a>&nbsp;-&nbsp;
      <a data-pjax href="{{ url_for('LegalView:privacy') }}">Privacy</a>
    </p>
    <p class="text-muted credit-xs visible-xs">2014-2015, 18F</br>
      <a data-pjax href="{{ url_for('LegalView:terms_of_use') }}">Terms of Use</a> - 
      <a data-pjax href="{{ url_for('LegalView:privacy') }}">Privacy</a>
    </p>
  </div>
</footer>
