<!doctype html>                                                                                               
<html {% block html_attrs %}class="no-js" lang="en"{% endblock %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block h5bp_favicon %}{% endblock %}
    {% block h5bp_css %}{% endblock %}
    {% block h5bp_shiv %}{% endblock %}
    {% block h5bp_js_head -%}{% endblock %}
  </head>
  <body>
    {% block h5bp_body %}{% endblock %}
    {% block h5bp_body_js %}{% endblock %}
 </body>
</html>