<div>
  <div class="row">
    <ul class="nav nav-pills nav-stacked sidebar col-md-2">
      <li><a ui-sref="app.activity.search">Search</a></li>
      <li><a ui-sref="app.activity.proposals.list">Proposals</a></li>
      <li><a ui-sref="app.activity.documents.list">Documents</a></li>
      <li><a ui-sref="app.activity.savedOpps">Saved Opportunities</a></li>
      <li><a ui-sref="app.activity.savedSearches">Saved Searches</a></li>
      <li><a ui-sref="app.activity.history">History</a></li>
    </ul>
    <div class="col-md-10" ui-view="activityContent">Activity SubView</div>
  </div>
</div>
