<div class="row">
  <div class="col-xs-2 workflow-sidebar" ng-if="includeSidebar === 'true'">
    <ul>
      <li ng-repeat="section in workflow.sections">
        <span class="label label-default">{{section.name}}</span>
        <ul>
          <li ng-repeat="state in section.states">
            <a href="#" ng-click="changeState(state.id)"><span class="label" ng-class="{ 'current-state-list-item label-primary': isCurrentId(state.id), 'label-default': !isCurrentId(state.id) }">{{state.name}}</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-xs-9 currentState">
    <h3 class="state-title">{{currentState.name}}</h3>
    <p>{{currentState.description}}</p>
    <p>Step {{currentStateIndex}} of {{getStateCount()}}</p>
    <form>
      <div ng-repeat="field in currentState.fields">
        <span ng-if="field.type === 'text'">
          <label for="{{field.id}}">{{field.name}}</label>
          <input id="{{field.id}}" 
                 placeholder="{{field.name}}" 
                 class="form-control" 
                 ng-model="currentStateData[field.id]"
                 type="text">
          </input>
        </span>
        <span ng-if="field.type === 'checkbox'">
          <label>
            <input id="{{field.id}}"
                   ng-model="currentStateData[field.id]"
                   type="checkbox">
              {{field.name}}
            </input>
          </label>
        </span>
        <p ng-if="field.invalid">{{field.helpMessage}}</p>
      </div>
    </form>
    <div class="pull-right">
      <button ng-if="showBackButton()" type="button" id="prior_state" ng-click="backState()">Back</button>
      <button ng-if="showNextButton()" type="button" id="next_state" ng-click="nextState()">Next</button>
    </div>
  </div>
</div>
